ul.auth-nav {
    margin-right: 30px;
    float: right;
}
ul.auth-nav li {
    display: inline-block;
    padding: 10px 0px;
}
a:active, a:link, a:hover {
        text-decoration: none;
}
#main-menu-ul span, ul.auth-nav span {
    padding-right: 6px;
    vertical-align: baseline;
}
#main-menu-ul a, ul.auth-nav a {
    padding: 15px 15px;
}
ul.auth-nav-for-list {
    margin-right: 30px;
    float: right;
}
ul.auth-nav-for-list li {
    display: inline-block;
}