.x-required span:before {content: '* '; color: red; font-weight: bold;}
.form2css1 label.x-form-item-label {white-space: nowrap; overflow: hidden;}
.form2css1.x-window-default, .form2css1.x-window-default .x-window-header-default, .form2css1.x-window-default .x-window-header-default-top {background-color: #f5f5f5 !important;}
.x-tip-default {background-color: #f0f0f0 !important;}