.ddsm-application-wrapper-body.portal-form-for-application .ddsm-application-wrapper {
    background: #fff;
    font-weight: 500;
    line-height: 1.5;
    position: relative;
    background: #fff url(bg_beige_pattern.jpg) repeat-x left 117px !important;
    padding-bottom: 15px;
    color: black;
    font-size: 12px;
    font-family: tahoma,arial,verdana,sans-serif;
}
.ddsm-application-wrapper .well {
	background-color: transparent !important;
	-webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border:none !important;
    margin: 0 0 15px !important;
    padding: 0px !important;
}
.ddsm-application-wrapper .portal-control .well {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.ddsm-application-wrapper  .portal-tab-label, .ddsm-application-wrapper  .portal-section-label, .ddsm-application-wrapper  #form-viewer .portal-control {
    padding-top: 2px;
}
.ddsm-application-wrapper .ddsm-application-wrapper {
	margin: 0px;
}
.ddsm-application-wrapper .row.portal-section-label {
    font-size: 15px !important;
    font-weight: 500;
    line-height: 1.2 !important;
    padding: 4px 10px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: none;
    color: #fff !important;
    background: #E66B1E;
    margin: 0 0 8px 0 !important;
    text-transform: none;
}
.ddsm-application-wrapper input.k-textbox, .ddsm-application-wrapper input.k-textbox:hover, .ddsm-application-wrapper input.k-textbox:focus, .ddsm-application-wrapper input.k-textbox:focus:hover   {
	border: 1px solid #7d7d7d !important;
    border-radius: 3px;
    background: #fff !important;
    padding: 4px 6px;
    display: block;
    line-height: 1.2;
    color: #000;
    font-size: 12px !important;
    margin: 0px !important;
    height: 30px !important;
    border-color: #7d7d7d !important;
    width: 100%;
    font-weight: 100;
}
.ddsm-application-wrapper input.k-textbox[disabled], .ddsm-application-wrapper input.k-textbox[disabled]:hover, input[readonly], input[readonly]:hover, .ddsm-application-wrapper input.k-textbox[readonly], .ddsm-application-wrapper input.k-textbox[readonly]:hover {
    background: #E3E3E3 !important;
    border: 1px solid #7D7D7D !important;
}
.ddsm-application-wrapper .k-dropdown, .ddsm-application-wrapper span.k-colorpicker {
	margin: 0px !important;
}
.ddsm-application-wrapper .k-dropdown .k-input, .ddsm-application-wrapper .k-dropdown .k-input:hover {
    border: 1px solid #7d7d7d;
    padding: 4px 6px !important;
    line-height: 1.5;
    height: 20px !important;
    background: #fff !important;
    font-size: 12px !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #000;
    font-weight: 100;
}
.ddsm-application-wrapper .k-dropdown-wrap {
	padding: 0 1.9em 0 0 !important;
}
.ddsm-application-wrapper .k-dropdown-wrap.k-state-hover .k-input {
    border: 1px solid #7d7d7d !important;
    background: #fff;
}
.ddsm-application-wrapper .k-dropdown-wrap .k-select, .ddsm-application-wrapper .k-dropdown-wrap .k-select:hover {
    background: #fff;
    border-radius: 0px !important;
    border: 1px solid #7d7d7d !important;
    height: 28px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    padding: 0px;
    border-left: none !important;
}
.ddsm-application-wrapper .k-input:focus, .ddsm-application-wrapper .k-multiselect-wrap:focus, .ddsm-application-wrapper .k-textbox >input:focus, .ddsm-application-wrapper input.k-textbox:focus, .ddsm-application-wrapper textarea.k-textbox:focus {
    border-color: #7d7d7d !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ddsm-application-wrapper .k-popup .k-list .k-state-focused, .ddsm-application-wrapper .k-popup .k-list .k-state-focused:hover, .ddsm-application-wrapper .k-dropdown {
    background: transparent !important;
}
.ddsm-application-wrapper .k-dropdown-wrap.k-state-default.k-state-focused, .ddsm-application-wrapper .k-dropdown-wrap.k-state-default, .ddsm-application-wrapper .k-dropdown-wrap.k-state-default:hover {
    border: none !important;
    background: transparent !important;
    height: 29px;
}
.ddsm-application-wrapper span.k-icon.k-i-arrow-s {
    vertical-align: middle !important;
    background-image: url(../Themes/Default/sprite.png) !important;
}
.ddsm-application-wrapper .k-dropdown-wrap.k-state-default.k-state-focused .k-input {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-color: #7d7d7d !important;
}
.ddsm-application-wrapper .k-input:focus, .ddsm-application-wrapper .k-multiselect-wrap:focus, .ddsm-application-wrapper .k-textbox >input:focus, .ddsm-application-wrapper input.k-textbox:focus, .ddsm-application-wrapper textarea.k-textbox:focus {
    border-color: #7d7d7d !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ddsm-application-wrapper .k-popup .k-list .k-state-focused, .ddsm-application-wrapper .k-popup .k-list .k-state-focused:hover {
    border-radius: 0px;
    background: #7d7d7d !important;
}
.ddsm-application-wrapper .portal-control-list.row {
    padding: 0px;
}
.ddsm-application-wrapper .k-button, .ddsm-application-wrapper  div#crm-btn-save .k-button, .ddsm-application-wrapper  button#crm-btn-add, .ddsm-application-wrapper  div#crm-btn-save .k-button:hover, .ddsm-application-wrapper  button#crm-btn-add:hover {
    background-color: #e66b1e !important;
    background: #e66b1e !important;
    border-color: #e66b1e !important;
    border-radius: 0px !important;
    line-height: 1.6 !important;;
    padding: 4px 12px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    height: 30px !important;
    color: #fff !important;
}
.ddsm-application-wrapper div#crm-btn-close .k-button, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-delete, .ddsm-application-wrapper button#grid-remove-button {
	background: #e66b1e !important;
    border-color: #e66b1e !important;
}
.ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-cancel-changes, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-save-changes, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-add, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-cancel-changes:hover, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-save-changes:hover, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-add:hover {
    background-color: #454545 !important;
    border:none !important;
}
.ddsm-application-wrapper div#crm-btn-close .k-button:hover, .ddsm-application-wrapper div#crm-btn-close .k-button:active, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-delete:hover, .ddsm-application-wrapper a.k-button.k-button-icontext.k-grid-delete:active, .ddsm-application-wrapper button#grid-remove-button:hover, .ddsm-application-wrapper button#grid-remove-button:active {
    background: #e66b1e !important;
    border-color: #e66b1e !important;
}
.ddsm-application-wrapper .row.portal-picklist-label .ra-well-title, .ddsm-application-wrapper .row.portal-url-label .ra-well-title, .ddsm-application-wrapper .row.portal-lookup-label .ra-well-title, .ddsm-application-wrapper .row.portal-textbox-label .ra-well-title, .ddsm-application-wrapper .portal-email-label .ra-well-title {
    font-size: 12px;
    color: #000;
    padding-left: 10px;
    font-weight: 100 !important;
}
.ddsm-application-wrapper .row.portal-textbox-label .ra-well-title {
    font-weight: 100;
}
.ddsm-application-wrapper .rc-steps-status-finish {
    color: #fff;
    background: #f0a678;
}
.ddsm-application-wrapper .rc-steps-status-process {
    color: #fff;
    background: rgb(230, 107, 30);
}
.ddsm-application-wrapper .rc-steps-status-wait {
    background: #7d7d7d;
    color: #fff;
}
.ddsm-application-wrapper .rc-steps-item:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.ddsm-application-wrapper .rc-steps-item:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ddsm-application-wrapper .rc-steps-status-finish:before, .rc-steps-status-process:before, .rc-steps-status-wait:before {
    border-bottom: 15px solid transparent;
    border-left: 12px solid #fff !important;
    border-top: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    margin-top: -15px;
}
.ddsm-application-wrapper .rc-steps-status-finish:after {
    border-bottom: 15px solid transparent;
    border-left: 12px solid rgba(230, 107, 30, 0.6);
    border-top: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    margin-top: -15px;
    z-index: 1;
}
.ddsm-application-wrapper .rc-steps-status-wait:after {
    border-bottom: 15px solid transparent;
    border-left: 12px solid #7d7d7d;
    border-top: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    margin-top: -15px;
    z-index: 1;
}
.ddsm-application-wrapper .rc-steps-status-process:after {
    border-bottom: 15px solid transparent;
    border-left: 12px solid rgb(230, 107, 30);
    border-top: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    margin-top: -15px;
    z-index: 1;
}
.ddsm-application-wrapper div.k-grid {
    border-radius: 3px !important;
    border: 1px solid #7d7d7d !important;
}
.ddsm-application-wrapper .k-grid-header th.k-header, .ddsm-application-wrapper .k-grid-header-wrap, .ddsm-application-wrapper .k-grid .k-floatwrap, .ddsm-application-wrapper .k-grid-header, .ddsm-application-wrapper .k-header {
    border-color: #7d7d7d !important;
    background: #fff !important;
}
.ddsm-application-wrapper .k-grid tr td {
    border-style: solid;
    border-color: #7d7d7d !important;
}
.ddsm-application-wrapper .k-grid td.k-state-selected, .ddsm-application-wrapper .k-grid tr.k-state-selected, .ddsm-application-wrapper .k-grid td.k-state-selected:hover, .ddsm-application-wrapper .k-grid tr.k-state-selected:hover td {
    background-color: #e3e3e3 !important;
    color: #555 !important;
    border-color: #7d7d7d !important;
}
.ddsm-application-wrapper .k-pager-wrap .k-link, .ddsm-application-wrapper .k-pager-wrap .k-link:hover {
    background: transparent !important;
    border-color: transparent !important;
    border-right: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 0 6px;
    margin: 0px;
    line-height: 1.8;
    height: 30px;
}
.ddsm-application-wrapper .k-pager-nav.k-pager-first {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.ddsm-application-wrapper .k-pager-wrap .k-pager-nav.k-pager-last {
    border-radius: 0px;
    border-right: 1px solid transparent !important;
}
.ddsm-application-wrapper span.k-state-selected, .ddsm-application-wrapper span.k-state-selected:hover {
    background-color: #e66b1e !important;
    color: #fff !important;
    border-color: #e66b1e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 0 6px;
    border-radius: 0px;
    background-image: none;
}
.ddsm-application-wrapper .k-grid-content {
    min-height: auto;
}
.ddsm-application-wrapper  .k-grid-content.k-auto-scrollable {
    background: #fafafa;
}
.ddsm-application-wrapper .k-grid-content.k-auto-scrollable tr:hover {
    background: #eef1f5 !important;
}
.ddsm-application-wrapper .k-picker-wrap.k-state-default .k-input, .ddsm-application-wrapper .k-picker-wrap.k-state-default .k-input:focus {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    margin: 0px;
    line-height: 1.8;
    height: 30px;
}
/*.ddsm-application-wrapper span.k-widget.k-dropdown.k-header {
	padding-right: 6px;
}*/
.ddsm-application-wrapper .k-pager-sizes {
    display: inline-block;
    padding-top: 0px;
}
.ddsm-application-wrapper .k-i-search, .ddsm-application-wrapper .k-delete, .ddsm-application-wrapper .k-i-plus, .ddsm-application-wrapper .k-delete, .ddsm-application-wrapper .k-group-delete, .ddsm-application-wrapper .k-i-close, .ddsm-application-wrapper .k-cancel, .ddsm-application-wrapper .k-denied, .ddsm-application-wrapper .k-i-cancel, .ddsm-application-wrapper .k-i-tick, .ddsm-application-wrapper .k-insert, .ddsm-application-wrapper .k-update, .ddsm-application-wrapper .k-icon.k-add {
    background-image: url(../Themes/Black/sprite.png) !important;
    opacity: 1;
}
.ddsm-application-wrapper .k-column-menu .k-sprite, .ddsm-application-wrapper .k-drop-hint, .ddsm-application-wrapper .k-gantt-views>.k-current-view>.k-link:after, .ddsm-application-wrapper .k-grid-mobile .k-resize-handle-inner:after, .ddsm-application-wrapper .k-grid-mobile .k-resize-handle-inner:before, .ddsm-application-wrapper .k-grouping-dropclue, .ddsm-application-wrapper .k-pager-numbers .k-current-page .k-link:after, .ddsm-application-wrapper .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view>.k-link:after, .ddsm-application-wrapper .k-tool-icon {
    background-image: url(../Themes/Material/sprite.png) !important;
    border-color: transparent;
}
.ddsm-application-wrapper .k-pager-input, .ddsm-application-wrapper .k-pager-sizes {
    padding: 0 5px;
    display: inline-flex;
}
.ddsm-application-wrapper span.k-pager-input.k-label input, .ddsm-application-wrapper span.k-pager-input.k-label input:hover, .ddsm-application-wrapper span.k-pager-input.k-label input:focus, .ddsm-application-wrapper span.k-pager-input.k-label input:focus:hover {
    margin: 0 10px !important;
}
.ddsm-application-wrapper-body .k-list-container {
    border-color: #7d7d7d ;
    background: #fff !important;
    color: #555 !important;
}
.ddsm-application-wrapper .ddsm-application-wrapper .k-header.k-grid-toolbar {
    background: #fafafa !important;
    background-image: none !important;
    color: #555 !important;
}
.ddsm-application-wrapper #grid-panel i.k-font-icon, .ddsm-application-wrapper #crm-btn-save i.k-font-icon {
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: -17px;
    padding-left: 10px;
    vertical-align: text-top;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.ddsm-application-wrapper .k-grid-header .k-header>.k-link, .ddsm-application-wrapper .k-header, .ddsm-application-wrapper .k-treemap-title {
    color: #555 !important;
}
.ddsm-application-wrapper .ddsm-application-wrapper .k-grid-header th.k-header, .ddsm-application-wrapper .ddsm-application-wrapper .k-grid-header-wrap, .ddsm-application-wrapper .ddsm-application-wrapper .k-grid .k-floatwrap, .ddsm-application-wrapper .ddsm-application-wrapper .k-grid-header, .ddsm-application-wrapper .ddsm-application-wrapper .k-header {
    border-color: #7d7d7d !important;
    background: #fafafa !important;
    color: #555 !important;
}
.ddsm-application-wrapper .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap .k-icon {
    background-image: url(../Themes/Material/sprite.png) !important;
}
.ddsm-application-wrapper-body.portal-form-for-application .ddsm-application-wrapper .row.portal-tab-label {
    margin-bottom: 10px !important;
    color: #000!important;
    font-size: 28px !important;
    font-weight: 100;
    font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    text-transform: inherit;
}
.ddsm-application-wrapper .k-grid tr {
    cursor: pointer;
    background: transparent !important;
    background-image: none !important;
}
.ddsm-application-wrapper .k-grid tr td {
    border-style: solid;
    border-color: #7d7d7d !important;
    background: #fafafa !important;
    color: #555 !important;
}
.ddsm-application-wrapper .k-grid tr:hover {
    background: #e3e3e3 !important;
}
.ddsm-application-wrapper .k-list>.k-state-focused.k-state-selected, .ddsm-application-wrapper .k-listview>.k-state-focused.k-state-selected, .ddsm-application-wrapper .k-state-focused.k-state-selected, .ddsm-application-wrapper td.k-state-focused.k-state-selected {
    background: #e3e3e3 !important;
}
.ddsm-application-wrapper .k-dropdown .k-state-focused, .k-filebrowser-dropzone, .ddsm-application-wrapper .k-list>.k-state-hover, .k-mobile-list .k-edit-label.k-check:active, .ddsm-application-wrapper .k-mobile-list .k-item>.k-label:active, .ddsm-application-wrapper .k-mobile-list .k-item>.k-link:active, .ddsm-application-wrapper .k-mobile-list .k-recur-view .k-check:active, .ddsm-application-wrapper .k-pager-wrap .k-link:hover, .ddsm-application-wrapper .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .ddsm-application-wrapper .k-splitbar-horizontal-hover:hover, .ddsm-application-wrapper .k-splitbar-vertical-hover:hover, .ddsm-application-wrapper .k-state-hover, .ddsm-application-wrapper .k-state-hover:hover {
    background: #e3e3e3 !important;
}
.k-pager-wrap {
    color: #555 !important;
}
.ddsm-application-wrapper .k-draghandle.k-state-selected:hover, .ddsm-application-wrapper .k-ghost-splitbar-horizontal, .ddsm-application-wrapper .k-ghost-splitbar-vertical, .ddsm-application-wrapper .k-list>.k-state-highlight, .ddsm-application-wrapper .k-list>.k-state-selected, .ddsm-application-wrapper .k-marquee-color, .ddsm-application-wrapper .k-panel>.k-state-selected, .ddsm-application-wrapper .k-scheduler .k-scheduler-toolbar .k-state-selected, .ddsm-application-wrapper .k-scheduler .k-today.k-state-selected, .ddsm-application-wrapper .k-state-selected, .ddsm-application-wrapper .k-state-selected:link, .ddsm-application-wrapper .k-state-selected:visited {
    color: #555 !important;
    background-color: #e3e3e3 !important;
}
.ddsm-application-wrapper .k-header.k-grid-toolbar {
    background: #e66b1e !important;
}
.ddsm-application-wrapper .k-list > .k-state-selected, .ddsm-application-wrapper .k-list > .k-state-selected:hover, .ddsm-application-wrapper .k-list > .k-state-hover {
    color: #5a4e49 !important;
    background: #e3e3e3 !important;
    border:none !important;
    background-image: none !important;
}
.ddsm-application-wrapper .portal-column.col-md-2 {
    padding: 0px;
}
.ddsm-application-wrapper .k-pager-sizes select {
    margin-right: 10px;
}
.ddsm-application-wrapper-body.portal-form-for-application .inline-block.w0 {
    background: transparent !important;
    margin-left: 240px !important;
    width: auto !important;
}
.ddsm-application-wrapper-body span.itemGV_bold b {
    font-weight: 600 !important;
    font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
.ddsm-application-wrapper-body .portal-web-resource-html-control div {
    background: transparent !important;
    color: #000 !important;
}
.ddsm-application-wrapper-body h2.ms-standardheader.ms-WPTitle {
    background: transparent !important;
}
.ddsm-application-wrapper-body .portal-web-resource-html-control {
    margin: 0 15px !important;
}
.ddsm-application-wrapper-body .portal-web-resource-html-control a {
    color: black;
}
.ddsm-application-wrapper-body .portal-web-resource-html-control a:hover {
    color: #215edb;
}
.ddsm-application-wrapper-body .portal-web-resource-html-control h2 {
    font-size: 28px !important;
    color: #000 !important;
}
.ddsm-application-wrapper .k-pager-sizes .k-dropdown {
    margin-right: 10px !important;
}
.ddsm-application-wrapper a.k-link.k-pager-nav.k-state-disabled:hover {
    background: transparent !important;
}
.ddsm-application-wrapper-body .k-list-container {
    border-color: #7d7d7d !important;
}
.ddsm-application-wrapper-body .k-popup input.k-textbox {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #bcbcbc !important;
    border-radius: 0px !important;
}
.ddsm-application-wrapper-body .k-item {
    font-size: 12px !important;
    color: #000 !important;
    font-weight: 100 !important;
    padding: 2px 0 !important;
}
.ddsm-application-wrapper-body .k-list >.k-state-focused, .ddsm-application-wrapper-body .k-list >.k-state-hover, .ddsm-application-wrapper-body .k-list-optionlabel:hover  {
    background-color: #215edb !important;
    background-image: none !important;
    cursor: pointer !important;
    color: #fff !important;
    font-weight: 100 !important;
    border-radius: 0px !important;
}
.ddsm-application-wrapper-body .k-input, .ddsm-application-wrapper-body .k-multiselect-wrap, .ddsm-application-wrapper-body .k-textbox >input, .ddsm-application-wrapper-body input.k-textbox, input.k-textbox:hover, .ddsm-application-wrapper-body textarea.k-textbox, .ddsm-application-wrapper-body textarea.k-textbox:hover {
    color: #000;
    font-weight: 100;
}
.ddsm-application-wrapper-body span.k-icon.k-i-search {
    background-image: url(../Themes/Material/sprite.png) !important;
}
.ddsm-application-wrapper-body .k-list-optionlabel {
    background: #e7e7e7 !important;
    border:0px !important;
}
.ddsm-application-wrapper-body ul.hcf-rteStyle-ContentList li a, .ddsm-application-wrapper-body .hcf-FAQWebPart ~ div > a {
    color: #215edb !important;
    text-decoration: underline !important;
}
.retrofit-application .ddsm-application-wrapper {
    background: #fff !important;
}
.ddsm-application-wrapper-body.retrofit-application .portal-web-resource-html-control div {
    margin-bottom: 0px !important;
}
.ddsm-application-wrapper-body.retrofit-application .portal-tab.row {
    border-bottom: 1px solid #000;
    padding: 15px 0 25px;
}
.ddsm-application-wrapper-body.retrofit-application .portal-control.row .col-md-8 {
    width: 100%;
    position: relative;
    top: -22px;
}
.ddsm-application-wrapper-body.retrofit-application .portal-control.row .col-md-4 {
    width: 100%;
    position: relative;
    top: 31px;
}
.ddsm-application-wrapper-body.retrofit-application .crm-form-row .crm-portal-cell.col-md-3 {
    margin: 0 1% 0 1%;
    width: 31.3%;
}
.ddsm-application-wrapper-body.retrofit-application .crm-form-row .crm-portal-cell.col-md-3:first-child {
    margin: 0 2% 0 0;
}
.ddsm-application-wrapper-body.retrofit-application .crm-form-row .crm-portal-cell.col-md-3:last-child {
    margin: 0 0 0 2%;
}
.ddsm-application-wrapper-body.retrofit-application strong {
    font-weight: bold;
}
.ddsm-application-wrapper-body.retrofit-application div#crm-btn-save {
    margin: 15px 0 25px !important;
}
.ddsm-application-wrapper-body.retrofit-application .ddsm-application-wrapper .row.portal-tab-label, .ddsm-application-wrapper-body.retrofit-application .ddsm-application-wrapper .row.portal-tab-label .ra-well-title {
    margin-bottom: 10px !important;
    color: #000!important;
    font-size: 18px !important;
    line-height: 1.6rem !important;
    letter-spacing: 0.02em !important;
    font-weight: bold;
    font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    text-transform: inherit;
}
.ddsm-application-wrapper-body.retrofit-application h4 {
    font-size: 18px !important;
    line-height: 1.6rem !important;
    letter-spacing: 0.02em !important;
    font-weight: bold;
}
.retrofit-pre-project-submission .portal-tab.row .row.portal-tab-label {
    border-top: 2px solid #67bd4a;
    margin: 15px 0 15px !important;
    padding: 20px 10px 0px;
    color: #000;
    font-size: 18px !important;
    font-weight: bold !important;
}
.retrofit-pre-project-submission .row.portal-section-label {
    background: #fff;
    color: #000 !important;
}

.retrofit-pre-project-submission .checkbox-control-wrapper {
    position: absolute;
    left: 0px;
}
.retrofit-pre-project-submission .portal-control.row .col-md-8 {
    left: 15px;
}
.retrofit-pre-project-submission .checkbox-control-wrapper .k-checkbox-label:before {
    top: -8px;
}
.retrofit-pre-project-submission .rows-wrapper.portal-control-list.row {
    padding: 0px 30px;
}
.retrofit-pre-project-submission .portal-section.well.row {
    margin-bottom: 30px !important;
}
.ddsm-application-wrapper-body span.k-widget.k-datetimepicker {
    background: #fff !important;
    border: 1px solid #7d7d7d;
    border-radius: 3px;
    height: 30px !important;
}
.ddsm-application-wrapper-body span.k-picker-wrap.k-state-default, .ddsm-application-wrapper-body span.k-picker-wrap.k-state-hover, .ddsm-application-wrapper-body span.k-picker-wrap.k-state-focused {
    height: 28px !important;
    background: #fff !important;
    border-width: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ddsm-application-wrapper-body input.date-time-control.k-input {
    padding: 0px !important;
    height: 28px !important;
}
.ddsm-application-wrapper-body input.date-time-control.k-input:focus {
    border-bottom-width: 0px;
}
.ddsm-application-wrapper-body .k-i-calendar {
    background-position: -32px -176px !important;
}
.ddsm-application-wrapper-body .k-i-clock {
    background-position: -32px -192px !important;
}
.residental-distribution-application .k-calendar-container .k-header {
    background-color: #e66b1e;
}
.residental-distribution-application .k-calendar td.k-state-selected, .residental-distribution-application .k-calendar td.k-state-selected:hover {
    background-color: #e66b1e !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.retrofit-eligibility .portal-section.well.row ol {
    list-style: lower-alpha;
}
.retrofit-eligibility .portal-section.well.row ol[type="i"] {
    list-style: lower-roman;
}
.retrofit-eligibility .portal-section.well.row ol[type="A"] {
    list-style: upper-alpha;
}
.retrofit-eligibility .inline-block.w0.push-40 {
    width: 100% !important;
    margin-bottom: 0px !important;
}
.ddsm-application-wrapper-body {
    background: #fff!important;
}
.post-project-sub-application .inline-block.pull-left.w05.accountName.fg-efficiency span {
    font-weight: 600;
}
.post-project-sub-application .inline-block.w0, .post-project-sub-application .inline-block.w05 {
    width: 100% !important;
    margin: 0px !important;
}
.post-project-sub-application .portal-tab.row {
    border-top: 1px solid #000;
    margin: 0 15px !important;
}
.post-project-sub-application .portal-tab.row[tabname="tab_2"] {
    border-top: 1px solid #fff !important;
}
.post-project-sub-application .portal-tab-label {
    margin: 0px !important;
    padding-top: 15px;
}
.post-project-sub-application  .portal-section.well.row {
    padding-top: 10px !important;
}
.post-project-sub-application .portal-web-resource-html-control {
    margin: 0px !important;
}
.post-project-sub-application .portal-control.row .col-md-6 {
    width: auto;
    margin-right: 10px;
}
.post-project-sub-application span.ra-well-title {
    color: #000;
    text-transform: initial;
    font-size: 18px;
}
.post-project-sub-application .portal-tab.row[tabname="tab_4"] span.ra-well-title {
    color: #000 !important;
    font-size: 18px !important;
    padding-left: 0px;
    font-weight: 600 !important;
}
form#form-viewer {
    font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
.post-project-sub-application .col-md-8 {
    width: 100%;
    position: relative;
    top: -26px;
}
.post-project-sub-application .col-md-4 {
    width: 100%;
    position: relative;
    top: 24px;
}
.post-project-sub-application .k-radio-label {
    position: relative;
    padding-left: 17px;
    vertical-align: middle;
    line-height: .875em;
    cursor: pointer;
    padding-right: 10px;
    color: #000;
}
.post-project-sub-application .k-radio-label:before {
    border-color: #7d7d7d;
    border-radius: 50%;
    background-color: #dedede;
    border-width: 1px;
}
.post-project-sub-application .k-radio:checked+.k-radio-label:after {
    background-color: #000;
    border-radius: 50%;
}
.post-project-sub-application .k-radio:checked+.k-radio-label:after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
}
#form-viewer {
    margin-bottom: 15px;
}
.post-project-sub-application .crm-portal-cell.col-md-3:first-child {
    margin: 0 2% 0 0;
}
.post-project-sub-application .crm-portal-cell.col-md-3 {
    margin: 0 1% 0 1%;
    width: 31.3%;
}
.post-project-sub-application .crm-portal-cell.col-md-3:last-child {
    margin: 0 0 0 2%;
}
.post-project-sub-application .col-md-5 .col-md-8 {
    top: 0px;
    left: 15px;
}
.post-project-sub-application .col-md-5 .checkbox-control-wrapper {
    width: auto;
    float: left;
    left: 0px;
}
.post-project-sub-application .crm-form-row.row .col-md-5 .portal-control.row .checkbox-control-wrapper {
    width: auto;
    float: left;
    left: 0px;
    margin-top: -30px;
}
.post-project-sub-application .crm-portal-cell.col-md-5 {
    width: auto;
    margin: 0px;
}
.post-project-sub-application .crm-portal-cell.col-md-5.col-md-offset-1 {
    margin-top: 6px;
    color: #000 !important;
}









.ddsm-application-wrapper-body .k-checkbox-label:before {
    border-color: #7d7d7d;
    background: #dedede;
    border-radius: 3px;
}
.ddsm-application-wrapper-body .k-checkbox:checked+.k-checkbox-label:before {
    color: #424242;
    border-color: #7d7d7d;
    background: #dedede;
    font-weight: bold;
}
.residental-distribution-application .ddsm-application-wrapper .row.portal-section-label {
    background: #ffffff !important;
    color: #000 !important;
}
input.date-time-control, input.date-time-control ~ span.k-select {
    border-bottom: none !important;
}
input.date-time-control:focus {
    border-bottom: none !important;
}
input.date-time-control:focus ~ span.k-select {
    border:none !important;
    border-bottom: none !important;
}
span.k-select {
    padding: 0px 0px;
}
.k-popup {
    border-color: #7d7d7d !important;
    box-shadow: none;
}
.residental-distribution-application .k-calendar-container .k-header a {
    color: #fff;
}
.residental-distribution-application .k-calendar-container .k-header a.k-link.k-state-hover {
    background: transparent;
    border: none !important; 
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}