#grid-panel {
    padding: 10px 15px;
    background: #f8f8f8;

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding-right: 5px;

            i {
                margin-right: 5px;
            }
        }
    }
}