.k-dialog .k-button {
	height: auto;
}

#action_dialog label {
	display: inline-block;
	width: 150px;
}

#action_dialog div {
	padding: 3px 0; 
}

#action_dialog .k-widget {
	width: 245px;
}

#inputs {
	width: 400px;
    margin: auto;
}

.k-dialog a.k-dialog-action.k-dialog-close {
	right: 10px;
}

.k-dialog-title {
	text-align: center;
}

.exc-mark {
	font-size: 1.3em;
    padding: 0 5px;
    font-weight: 800;
    color: #fdc901;
}