   .form {
    padding: 0 2em;
}

.form:after {
    content: "";
    display: block;
    clear: both;
}

#applyBtn {
    top: 0;
    right: 0;
    display: block;
}

.fieldlist {
    margin: 0 0 -2em;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 2em;
}
.fieldlist li input{
	width: none;
}

.fieldlist label {
    display: block;
    padding-bottom: 1em;
    /*  font-weight: bold;
    text-transform: uppercase;*/
    font-size: 12px;
    color: #444;
}

.fieldlist select {
    display: block;
    padding-bottom: 1em;
    /*  font-weight: bold;
    text-transform: uppercase;*/
    color: #5f5f5f;
    border-bottom: 1px solid red;
}


/* section header */

.section_header {
    color: #5f5f5f;
    border-bottom: 1px solid red;
}



.left {
   /*  background-color: Red;*/
    float: left;
    width: 50%;
}

.right {
   /*  background-color: Aqua;*/
    margin-left: 50%;
}


.k-tabstrip-wrapper {
    margin: 0 7px 0 3px;
}
#tabstrip {
    border: none;
}
ul.k-tabstrip-items.k-reset {
    background-color: #fff;
}
.k-tabstrip-top .k-tabstrip-items .k-state-active {
    background-color: #FFFFFF;
    border-color: #a5acb5;
    border-width: 0 1px 0px 1px;
    border-style: solid;
}
.k-tabstrip-items .k-state-default {
    background-color: rgb(217, 220, 224);
    border-color: #a5acb5;
    border-width: 0 1px 0px 1px;
    border-style: solid;
}
.k-tabstrip-items .k-state-active .k-link, .k-tabstrip-items .k-state-hover .k-link {
    color: #000000;
}
.k-tabstrip.k-header {
    background-color: #fff;
}
.k-tabstrip .k-content.k-state-active {
    background-color: #fff;
    color: #333;
    border: 1px solid #a5acb5;
}
.k-panelbar>li.k-state-default>.k-link, .k-tabstrip-items .k-state-default .k-link {
    padding: 3px 10px;
}
fieldset {
    border: none;
}
.fieldlist {
    display: initial;
}
.fieldlist li {
    padding-bottom: 5px;
    width: 100%;
    display: table;
}
.fieldlist label {
    float: left;
    width: 50%;
    padding-bottom: 0em;
}
.fieldlist span.k-widget {
    float: right;
    width: 50%;
}
.fieldlist div.k-widget {
    float: right;
    width: calc(50% - 2px);
}

.fieldlist input[type="checkbox"] {
    float: right;
    position: relative;
    right: calc(50% - 20px);
}
.fieldlist button.k-primary {
    height: 24px;
    font-family: Segoe UI,Tahoma,Arial;
    border: 1px solid #C6C6C6;
    background-image: none;
    width: auto !important;
    min-width: 80px;
    white-space: nowrap;
    color: #444444;
    background-color: #FFFFFF;
}
.fieldlist button.k-primary:hover {
    background-color: #cee8f5;
}
legend {
    color: #000;
    font-weight: bold;
    display: none;
}
input:focus, span.k-numeric-wrap.k-state-focused, .k-widget.k-multiselect.k-header.k-state-focused {
    border-color: #c5c5c5 !important;
}
span.k-dropdown-wrap.k-state-default.k-state-active, span.k-dropdown-wrap.k-state-default.k-state-focused {
    background-color: #fff;
    border-color: #c5c5c5;
}


.k-multiselect-wrap.k-floatwrap {
    position: relative;
    display: block;
}
.k-multiselect .k-button {
    position: relative;
    float: left;
    width: auto;
    padding-bottom: 0px;
}
.k-widget.k-multiselect.k-header {
    min-height: 2.13em;
}
.k-multiselect-wrap .k-select {
    padding: 0.13em .2em;
}

.fieldlist .k-floatwrap {
    width: calc(100% - 4px) !important;
    border: 1px solid #d9d9d9;
}
.fieldlist .k-multiselect-wrap.k-floatwrap {
    width: auto !important;
    border: none;
}

