.configTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.milestoneRequirementsTable {
    border: 1px solid black;
    padding:10px; 
    font-weight: bold; 
    text-align:center;
}

.milestoneRequirementsTableValue {
    border: 1px solid black;
    padding:10px; 
    text-align:center;
}