.bpf-wrapper .k-tabstrip.k-header {
    background-color: transparent;
    border: none;
    /*border-bottom: 2px solid #79AB9E;*/
    padding-bottom: 1px;
    display: inline-block;
    width: 100%;
}

.bpf-wrapper .k-tabstrip-items.k-reset {
    /*border-bottom: 2px solid #79AB9E;*/
    padding: 1px 0 1px 0;
}

.bpf-wrapper .k-tabstrip-items .k-state-default {
    background-color: #d3e9d7 !important;
    border: none;
    width: 200px;
    margin: 0 5px;
}

.bpf-wrapper .k-tabstrip-items .k-link {
    padding: 5px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.bpf-wrapper .k-item.k-state-default::before {
    border-bottom: 14px solid transparent;
    border-left: 14px solid #f8f8f8;
    border-top: 14px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 0%;
    top: 50%;
    width: 0;
    margin-top: -14px;
}

.bpf-wrapper .k-item.k-state-default::after {
    border-bottom: 14px solid transparent;
    border-left: 14px solid #d3e9d7;
    border-top: 14px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    margin-top: -14px;
    z-index: 1;
}

.bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active {
    background-color: #85c08b !important;
    line-height: 18px;
}

    .bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active:after {
        border-bottom: 14px solid transparent;
        border-left: 14px solid #79AB9E;
        border-top: 14px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        left: 100%;
        top: 50%;
        width: 0;
        margin-top: -14px;
        z-index: 1;
    }

.bpf-wrapper .k-tabstrip-items .k-state-default.k-state-hover {
    cursor: pointer;
    background-color: #97c99c !important;
}

.bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active:hover:after {
    border-left: 14px solid #97c99c !important;
}

.bpf-wrapper .k-tabstrip-items .k-state-default.k-state-hover::after {
    border-left: 14px solid #97c99c !important;
    cursor: pointer;
}

.bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active:hover {
    cursor: pointer;
    background-color: #569282 !important;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-active:hover::after {
    border-left: 14px solid #569282 !important;
    cursor: pointer;
}

.bpf-wrapper .k-tabstrip-items li:first-of-type::before, .k-tabstrip-items li:last-of-type::after {
    border: none !important;
}

.bpf-wrapper .k-tabstrip-items .k-state-default .k-link {
    color: #000;
    text-indent: 35px;
    font-size: 13px;
    width: calc(100% - 15px);
    font-weight: normal;
    opacity: 0.85;
}

/*.bpf-wrapper .k-tabstrip-items .k-state-default .k-link::before {
    content: "\2714";
    position: absolute;
    left: -13px;
}*/

.bpf-wrapper .k-tabstrip-items .bpf-step-status-active .k-link::before {
    content: "";
}
.bpf-wrapper .k-tabstrip-items .k-state-default:hover .k-link {
    opacity: 1;
}

.bpf-wrapper .k-tabstrip > .k-button {
    top: 2px;
}

.bpf-btns-wrapper {
    margin-bottom: 5px;
    height: 26px;
}

.bpf-btns-wrapper button {
    float: right;
    margin: 2px 3px;
    background-color: #79AB9E !important;
    padding: 2px 7px;
    height: 24px;
    color: #fff;
    border: none !important;
}

.bpf-btns-wrapper button:hover, .bpf-btns-wrapper button:active, .bpf-btns-wrapper .k-button:hover, .bpf-btns-wrapper .k-button:active {
     background-color: #569282 !important;
    color: #fff !important;
}
.bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active .k-link {
    font-weight: 600;
}
.bpf-control {
    background-color: #f8f8f8 !important;
}

ul.bpf-br-container ~ div > div {
    border-right: 1px solid #d5d5d5;
}
ul.bpf-br-container ~ div > div:last-of-type {
    border-right: none;
}


.k-tabstrip .k-content.k-state-active {
    background-color: #f8f8f8;
}

/********************************************************************************************************************************************/
ul.bpf-br-container li {
    float: left;
    width: calc(20% - 10px);
    padding-right: 10px;
    margin: 5px 0;
    font-weight: bold;
}

ul.bpf-rf-container li {
    float: left;
    width: calc(25% - 10px);
    padding-right: 10px;
    margin: 5px 0;
    font-family: Segoe\000020UI;
    color: #444444;
    font-size: 12px;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-active:hover, .bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active:hover {
    background-color: #71b178 !important;
}

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-active:hover:after, .bpf-wrapper .k-tabstrip-items .bpf-step-status-active:hover::after {
        border-left-color: #71b178 !important;
        border-left-width: 14px;
    }

li.bpf-br-element.bpf-br-status-error:before, li.bpf-br-element.bpf-br-status-done:before, li.bpf-br-element.bpf-br-status-inprogress:before, li.bpf-br-element.bpf-br-status-none:before {
    margin-right: 5px;
    font-size: 9px;
    font-weight: bold;
    border-radius: 50%;
    background: #fff;
    color: #fff;
    text-align: center;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #bababa;
    line-height: 14px;
}

li.bpf-br-element.bpf-br-status-error:before {
    color: #fff;
    border-color: #e87365;
    content: "\2715";
    background: #e87365;
}

li.bpf-br-element.bpf-br-status-done:before {
    color: #fff;
    content: "\2713";
    border-color: #2d963e;
    background: #2d963e;
}

li.bpf-br-element.bpf-br-status-inprogress:before {
    color: #fff;
    background: #e8d76c;
    border-color: #e8d76c;
    content: "\0021";
}

li.bpf-br-element.bpf-br-status-none:before {
    color: #fff;
    font-weight: bold;
    content: "\2012";
    background: #d9d9d9;
}

.bpf-wrapper .k-tabstrip.k-header, .bpf-wrapper .k-tabstrip.k-header:hover, .bpf-wrapper li.k-state-hover {
    color: transparent !important;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-done {
    background-color: #2d963e !important;
}

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-done.k-state-hover {
        background-color: #20652c !important;
    }

        .bpf-wrapper .k-tabstrip-items .bpf-step-status-done.k-state-hover:after {
            border-left-color: #20652c !important;
        }

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-done::after {
        border-left: 14px solid rgb(45, 150, 62);
    }

.bpf-wrapper .k-tabstrip-items .bpf-step-status-error {
    background-color: #e87365 !important;
}

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-error.k-state-hover {
        background-color: #b94739 !important;
    }

        .bpf-wrapper .k-tabstrip-items .bpf-step-status-error.k-state-hover:after {
            border-left-color: #b94739 !important;
        }

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-error::after {
        border-left: 14px solid rgb(232, 115, 101);
    }

.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress {
    background-color: #e8d76c !important;
}

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress.k-state-hover {
        background-color: #d2c25e !important;
    }

        .bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress.k-state-hover:after {
            border-left-color: #d2c25e !important;
        }

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress::after {
        border-left: 14px solid rgb(232, 215, 108);
    }

.bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate {
    background-color: #bababa !important;
    background: repeating-linear-gradient( 45deg, #a9a8a8, #a9a8a8 10px, #bababa 10px, #bababa 20px );
}

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate.k-state-hover {
        background-color: #fff !important;
        background: repeating-linear-gradient( 45deg, rgba(169, 168, 168, 0.8), rgba(169, 168, 168, 0.8) 10px, rgba(186, 186, 186, 0.8) 10px, rgba(186, 186, 186, 0.8) 20px );
    }

        .bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate.k-state-hover:after {
            border-left-color: rgb(200, 200, 200) !important;
        }

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate::after {
        border-left: 14px solid rgb(186, 186, 186);
    }
/*.bpf-wrapper .k-tabstrip-items .k-state-active, .bpf-wrapper .k-tabstrip .k-item.k-state-active {
    background-color: rgb(121, 171, 158) !important;
    background: repeating-linear-gradient( 45deg, #79ab9e, #79ab9e 10px, #79ab9e 10px, #79ab9e 20px );
    height: 24px;
    line-height: 22px;
    margin-top: -1px;
}*/
.bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active:after, .bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active:after {
    border-left-color: rgb(133, 192, 139) !important;
    border-bottom-width: 14px;
    border-left-width: 14px !important;
    border-top-width: 14px;
    margin-top: -14px;
}

.bpf-wrapper .k-tabstrip-items .k-state-default {
    height: 28px;
}

.bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active {
    color: transparent !important;
}

.bpf-wrapper .k-tabstrip-items .k-state-default {
    margin: 0 7px 0 7px;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-done .k-link::before, .bpf-wrapper .k-tabstrip-items .bpf-step-status-error .k-link::before, .bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress .k-link::before, .bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate .k-link::before {
    position: relative;
    left: 0px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 0px;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-done .k-link::before {
    color: #327b4f;
    content: "\2714";
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-error .k-link::before {
    color: #e87365;
    content: "\2716";
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress .k-link::before {
    color: #e8d76c;
    content: "\0021";
    font-weight: bold;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate .k-link::before {
    color: #bababa !important;
    top: 1px;
    font-weight: bold;
    content: "\2012";
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-active .k-link::before {
    color: #85c08b !important;
    line-height: 16px;
}

.bpf-wrapper .k-tabstrip-items.k-reset {
    padding: 20px 0 0px 0;
}

.bpf-wrapper .k-tabstrip-items .k-state-default .k-link {
    text-indent: 0px;
    padding-left: 20px;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress {
    background-size: 56px 28px;
    -webkit-background-size: 56px 28px;
    -moz-background-size: 56px 28px;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-active {
    background-color: #85c08b !important;
}

    .bpf-wrapper .k-tabstrip-items .bpf-step-status-active.k-state-hover {
        background-color: #71b178 !important;
    }

        .bpf-wrapper .k-tabstrip-items .bpf-step-status-active.k-state-hover:after {
            border-left: 14px solid #71b178 !important;
        }

@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 85px 0;
    }
}

@-moz-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 85px 0;
    }
}

.bpf-wrapper .k-tabstrip-items .bpf-step-status-active .k-link:after, .bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active .k-link:after {
    content: "\2691";
    font-size: 14px;
    position: absolute;
    top: -19px;
    left: 5px;
    color: #97c99c;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #97c99c;
    line-height: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -webkit-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -moz-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -o-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -ms-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
}
.bpf-wrapper .k-tabstrip-items .k-item.k-item.k-item.bpf-step-status-checked .k-loading:after, .bpf-wrapper .k-tabstrip .k-item.bpf-step-status-checked .k-loading:after {
    content: "\2714";
    font-size: 14px;
    position: absolute;
    top: -19px;
    right: 5px;
    color: #97c99c;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #97c99c;
    line-height: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -webkit-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -moz-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -o-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
    -ms-box-shadow: 0 2px 0px 0 rgba(255, 255, 255, 0.81), 0 0px 0px 0px rgba(253, 253, 253, 0.2), 0 0px 0px 0 rgba(253, 253, 253, 0.12);
}

.bpf-wrapper .k-tabstrip .k-item.bpf-step-status-active:hover:after {
    border-left: 14px solid #71b178 !important;
}

span.k-button.k-button-icon.k-bare.k-tabstrip-prev[style="display: none;"], span.k-button.k-button-icon.k-bare.k-tabstrip-next[style="display: none;"] {
    opacity: 0.5 !important;
    display: block !important;
}

.bpf-wrapper .k-tabstrip > .k-button {
    top: 20px;
    color: #2d963e;
    border: none;
    line-height: 18px;
    position: absolute;
    opacity: 1;
    height: 28px;
}

.bpf-wrapper .k-tabstrip > .k-button .k-icon {
    font: 20px/1 WebComponentsIcons;
}

.bpf-control .k-button.k-tabstrip-next .k-icon.k-i-arrow-60-right:before {
    content: "\276F";
}

.bpf-control .k-button.k-tabstrip-prev .k-icon.k-i-arrow-60-left:before {
    content: "\276E";
}

.bpf-control li.k-item.k-state-default.bpf-step-status-done .k-link {
    color: #fff;
}

/************** validation ************/
.bpf-window .k-widget.k-tooltip-validation {
    border-color: #d47777;
    background-color: #f2dede;
    color: #d47777;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-weight: bold;
}
.bpf-window .k-combobox-clearable .k-input {
    height: 2.003em;
}
.bpf-window .k-widget.k-numerictextbox input.k-input.k-invalid ~ span.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg, .bpf-window .k-widget.k-datetimepicker input.k-input.k-invalid ~ span.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg {
    float: left !important;
    margin-left: -1px;
    padding-left: 41px;
}
.bpf-window .k-numeric-wrap .k-i-warning {
    color: #d47777;
    position: absolute;
    top: 23px;
    right: 1.9em;
    width: 1.9em;
    right: calc(100% - 33px);
}
.bpf-window .k-datetimepicker .k-picker-wrap .k-i-warning {
    margin-left: 0;
    margin-right: 5.6em;
    color: #d47777;
    margin-right: 5.6em;
    top: 34px;
    height: 1.9em;
    right: calc(100% - 112px);
    display: block;
}

/****************************************************************************/
.bpf-wrapper .k-tabstrip-items.k-reset {
    padding: 20px 0 0px 0;
}
/*.bpf-wrapper .k-tabstrip-items .bpf-step-status-active {
    background: repeating-linear-gradient( 45deg, rgb(179, 214, 182), rgb(179, 214, 182) 10px, rgb(152,202,157) 10px, rgb(152,202,157) 20px );
}*/

.bpf-wrapper .k-tabstrip > .k-button .k-icon {
    font: 20px/1 WebComponentsIcons;
}

span.k-button.k-button-icon.k-bare.k-tabstrip-prev[style="display: none;"], span.k-button.k-button-icon.k-bare.k-tabstrip-next[style="display: none;"] {
    opacity: 0.5 !important;
    display: block !important;
}
span.k-button.k-button-icon.k-bare.k-tabstrip-prev[style="display: none;"]:hover, span.k-button.k-button-icon.k-bare.k-tabstrip-next[style="display: none;"]:hover {
    color: #6c6c6c !important;
}
.k-tabstrip-items .k-loading {
    border-top: none;
}

/*********************************************************************************/
button.hos-btn-pick.k-button {
    height: 20px;
    border: 1px solid #D4D4D4;
    cursor: pointer;
    margin-left: 1px;
    margin-bottom: 0px;
    padding: 0 15px 0 19px;
    font-size: 10px;
    width: auto;
    white-space: nowrap;
    background: #F8F8F8 none;
    color: #333 !important;
    display: block;
}

    button.hos-btn-pick.k-button:hover, .hos-control .k-button.k-grid-add:hover {
        background-color: #D7EBF9;
        border-color: #D4D4D4;
    }

.hos-result {
    display: inline-block;
}

.hos-control .k-button.k-grid-add {
    border: 1px solid #D4D4D4;
    font-size: 10px;
    width: auto;
    white-space: nowrap;
    background: #F8F8F8 none;
    color: #333 !important;
}

.hos-dialog .k-dialog-titlebar {
    padding: .6em .8em .6em .8em !important;
}

.hos-dialog .k-window-titlebar .k-dialog-title {
    right: 1.143em;
    left: 1.143em;
}

.hos-dialog a.k-dialog-action.k-dialog-close {
    padding: 0em;
}

.hos-dialog .k-dialog-content .k-grid-header th.k-header {
    border-color: #c8c8c8;
}

.hos-dialog .k-grid-header {
    border-top: 1px solid #c8c8c8;
}

.hos-dialog .k-grid-header-wrap {
    border-right: 1px solid #c8c8c8;
}

.hos-dialog .k-grid tbody button.k-button {
    padding: 0 7px 0;
    line-height: 1em;
    border: 1px solid #d4d4d4;
}

.hos-dialog .k-dialog-button-layout-stretched .k-button {
    height: auto;
    padding: 1em 0;
}

.hos-dialog .k-window-titlebar .k-window-actions {
    top: .6em;
}

.hos-dialog .k-window-content .k-dialog-content {
    height: 380px !important;
}

.hos-selected-value {
    padding: 2px 5px;
    background: #aaa;
    color: white;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
}

.k-filter-menu.k-popup {
    height: auto;
}

    .k-filter-menu.k-popup .k-button {
        font-size: 12px;
        line-height: 14px;
    }