.show-tooltip{
    display: inline; 
}
    .show-tooltip:after {
        width: 16px;
        height: 16px;
        content: "i";
        position: absolute;
        border-radius: 50%;
        background: #4286cf;
        text-align: center;
        font-size: 13px;
        margin-left: 5px;
        font-style: italic;
        font-weight: bold;
        color: #fff;
        font-family: serif;
        line-height: 18px;
    }
    .show-tooltip:hover{
        cursor:help;
    }

    .show-tooltip.hidden-tooltip{
        display:none;
    }
