tr.ms-crm-Form-SectionGapRow {
	display: none !important;
	visibility: hidden !important;
}

table.ms-crm-FormSection {
	margin-top: 2px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 8px !important;
	-webkit-border-horizontal-spacing: 2px !important;
}

div.ms-crm-InlineTab-Read {
	margin-bottom: 0px !important;
}

div.ms-crm-quick-form-tabcolumn {
	border: 1px solid rgb(192, 192, 192) !important;
}

.cc-grid.cc-grid-desktop {
	width: 100% !important;
}