    .sunny,
                    .cloudy,
                    .rainy {
                        display: block;
                        margin: 30px auto 10px;
                        width: 128px;
                        height: 128px;
                        background: url('../content/web/tabstrip/weather.png') transparent no-repeat 0 0;
                    }

                    .cloudy {
                        background-position: -128px 0;
                    }

                    .rainy {
                        background-position: -256px 0;
                    }

                    .weather {
                        margin: 0 auto 30px;
                        text-align: center;
                    }

                    #tabstrip h2 {
                        font-weight: lighter;
                        font-size: 5em;
                        line-height: 1;
                        padding: 0 0 0 30px;
                        margin: 0;
                    }

                        #tabstrip h2 span {
                            background: none;
                            padding-left: 5px;
                            font-size: .3em;
                            vertical-align: top;
                        }
					#grid{
						background-color: #ffffff;
					}
                    #tabstrip p {
                        margin: 0;
                        padding: 0;
                    }

                    .k-loading-image{
                    background-image:url(Default/loadingimage.gif)
                    }
                    
                      .red {
					    background-color: red
					  }
					    .green {
					            background-color: #ced;
					  }