.k-notification {
    border: 0;
}

.k-animation-container{
    background-color: transparent;
    right: 20px;
}

.k-widget.k-notification.k-popup.k-group.k-reset.k-state-border-up{
    background-color: transparent;
}

/* Info template */
.k-notification-info.k-group {
    background: rgba(0%,0%,0%,.7);
    color: #fff;
}
.warining-message, .succsess-message, .information-message, .error-message {
    padding: 5px;
    margin-bottom: 2px;
}
.notification-header {
    margin: 0px;
    color: red;
    padding: 5px 5px 5px 30px;
}
.notification-message {
    padding: 5px;
    margin: 0px;
}
.warining-message:before, .success-message:before, .information-message:before, .error-message:before {
    font-size: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    line-height: 18px;
    text-align: center;
    margin: 4px 0 0 2px;
}
.warining-message {
    background-color: #fcf8e3;
    border: 1px solid #f2c508;
}
.warining-message::before {
    background-color: #f2c508;
    content: "\0021";
    font-weight: bold;
}
.warining-message .notification-header {
    color: #f2c508;
}
.success-message {
    background-color: #dff0d8;
    border: 1px solid #65aa55;
}
.success-message::before {
    background-color: #65aa55;
    content: "\2714";
}
.success-message .notification-header {
    color: #65aa55;
}
.information-message {
    background-color: #bbd9f7;
    border: 1px solid #4f96c5;
}
.information-message::before {
    background-color: #4f96c5;
    content: "i";
    font-style: italic;
    font-weight: bold;
}
.information-message .notification-header {
    color: #4f96c5;
}
.error-message {
    background-color: #f2dede;
    border: 1px solid #d47777;
}
.error-message::before {
    background-color: #d47777;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    content: "\2716";
}
.error-message .notification-header {
    color: #d47777;
}