body
{
}
.ng_cal_cal_frame_table .ng-button {font-size:small;}
.ng_cal_cal_frame_table .ng-button-bevel {height:15px; overflow:hidden;}

.ng_cal_right_month_td {text-align:right;}
.ng_cal_left_month_td {text-align:left;}

.ng_cal_today {}

.ng_cal_months_group_table {width:100%;
	border-collapse:separate;}
.ng_cal_month_group_td {vertical-align:top;
	border:solid #bbc5d5 1px;}

.ng_cal_month_table {border-collapse:separate;}
.ng_cal_month_table th {text-align:center;}
.ng_cal_month_table *, .ng_cal_years_select_td * {font-size:small;}
.ng_cal_years_select_td {text-align:center;
	background:#dee3ea;}
	
.ng_cal_day_name_td {padding:2px 5px;}
	
.ng_cal_dates_tr td {padding:2px;
	white-space:nowrap;}

.ng_cal_out_of_range {color:#999999;
	text-decoration:line-through;}
	
.ng_cal_weekend, .ng_cal_day_off, .ng_cal_range_off {color:#FF0000;}

.ng_cal_other_month {color:#999999;
	background:#efefef;
	border:solid #efefef 1px;
	cursor:pointer;}
	
.ng_cal_date_off {color:#666666;}

.ng_cal_selected_date, .ng_cal_selected_date.ng_cal_selectable:hover {background:#ffbb45;
	padding:1px;
	font-weight:bold;}
	
.ng_cal_selectable {cursor:pointer;
	border:solid transparent 1px;}

.ng_cal_selectable:hover {background:#faedd6;
	font-weight:bold;
	border:dotted #999999 1px;}
	
.ng_cal_bottom_bar {text-align:right;}
.ng_cal_bottom_bar * {font-size:small;}
	
/* deprecated as of version 1.2.0*/
.ng_cal_date_list_td {font-size:small;
	border:solid #dee3ea 1px;
	cursor:pointer;}

.ng_cal_date_list_remove_td {background:url(/WebResources/ddsm_remove_icon.gif) no-repeat center center;
	cursor:pointer;
	border:solid #dee3ea 1px;
	width:15px;
	height:15px;}
/* deprecated as of version 1.2.0*/
	
/*1.1.2*/
.ng-comp-disabled .ng_cal_selectable:hover {border:solid transparent 1px;
	background:none;}
.ng-comp-disabled .ng_cal_selected_date.ng_cal_selectable:hover {background:#ffbb45;}
/*1.1.2*/

/*1.2.0*/
.ng_cal_date_list_holder {display:inline-block;
	padding:3px;
	font-size:smaller;
	border:solid #dee3ea 1px;
	margin-right:10px;
	margin-bottom:10px;}
	
.ng_cal_date_list {cursor:pointer;}

.ng_cal_date_list_remove {background:url(/WebResources/ddsm_remove_icon.gif) no-repeat center center;
	cursor:pointer;
	width:15px;
	min-height:15px;
	display:inline-block;
	margin-left:5px;
	border-left:none;}
/*1.2.0*/

/*1.2.1*/
@media screen and (max-width:480px){
	.ng_cal_dates_tr td {padding:5px;}
}

/*1.2.1*/
/*
 * NoGray JavaScript Library
 *
 * Copyright (c), All right reserved
 * Gazing Design - http://www.NoGray.com
 * http://www.nogray.com/license.php
 */

/*
 * This file is deprecated and is only used
 * in older browsers, use ng_ui.css 
 * to  modify the CSS
 */
 
.ng-button {display:inline-block;
	cursor:pointer;
	border:solid 1px;
	border-left:none;
	border-right:none;
	background:url(buttons/bg_white.png) repeat-x top left;
	text-align:center;
	vertical-align:middle;}
	
.ng-button a {color:inherit;
	text-decoration:inherit;
	outline:none;
	cursor:inherit;}
	
.ng-button-table, .ng-button-icon-td, .ng-button-arrow-td, .ng-button-text-td {	padding:0px !important;
	margin:0px !important;
	border:none !important;
	background:none !important;
	vertical-align:middle !important;}
	
.ng-button-table {width:100% !important;
	*width:auto !important;
	_width:auto !important;
	border-collapse:collapse !important;}

.ng-button-icon-td {text-align:left !important;
	border:none !important;
	margin:0px !important;
	padding:0px !important;
	font-size:xx-small !important;}
	
.rtl .ng-button-icon-td {text-align:right !important;}
.ng-button-icon-img {display:block;}

.ng-button-arrow-td {text-align:right !important;
	font-size:xx-small !important;}
	
.rtl .ng-button-arrow-td {text-align:left !important;}
.ng-button-arrow-img {margin-left:3px;
	display:block;}
.rtl .ng-button-arrow-img {margin-left:0px; margin-right:3px;}

.ng-button-text-td {text-align:center !important;}

.ng-button-gloss {background-image:url(buttons/bg_white_gloss.png);}
.ng-button-down {background-image: url(buttons/bg_black_down.png);}

.ng-button-disabled {cursor:default;}
		
.ng-button-holder {
	border:solid 1px;
	border-top:none;
	border-bottom:none;
	margin:0px -1px;
	background:url(buttons/bg_black.png) repeat-x bottom left;}
	
.ng-button-holder-down {background-image: url(buttons/bg_white_down.png);}
.ng-button-holder-gloss-down {background-image: url(buttons/bg_white_gloss_down.png);}

.ng-button-bevel {
	border:solid 1px;
	padding:0px 3px 2px 3px;
}

/* componenet style */
/*1.1.4*/
.ng-comp-main-div {border:solid #b6bccc 1px;
		background:#f2f5fa;
		display:inline-block;
		-moz-box-shadow: 3px 3px 2px rgba(0,0,0,.3);
		-webkit-box-shadow: 3px 3px 2px rgba(0,0,0,.3);
		box-shadow: 3px 3px 2px rgba(0,0,0,.3);}
		
.ng-comp-visible .ng-comp-main-div {box-shadow:none;}
/*1.1.4*/

/* for browsers that doesn't support box shadow, we revert to shadows with images */
/* from 1.1.1 */
.ng-comp-table {border-collapse:collapse;} 
	
.ng-comp-main-td {border:solid #b6bccc 1px;
		background:#f2f5fa;}

.ng-comp-right-shadow, .ng-comp-left-shadow {background:url(shadow/right.png) repeat-y top left;
	font-size:1px;
	width:4px;}

.ng-comp-left-shadow {background:url(shadow/left.png) repeat-y top left;}

	
.ng-comp-bottom-shadow {background:url(shadow/bottom.png) repeat-x top left;
	font-size:1px;
	height:5px;}
	
.ng-comp-bottom-right-shadow, .ng-comp-bottom-left-shadow {background:url(shadow/bottom_right_crn.png) no-repeat top left;
	font-size:1px;
	height:5px;
	width:4px;}
.ng-comp-bottom-left-shadow {background:url(shadow/bottom_left_crn.png) no-repeat top left;}

.ng-comp-hidden {display:none;
	position:absolute;
	top:auto; left:auto;
	z-index:100000;}
	
.ng-comp-iframe-shim {z-index:10000;
	position:absolute;
	width:0px;
	height:0px;
	display:none;
	border:none;}

.ng-comp-visible .ng-comp-right-shadow, .ng-comp-visible .ng-comp-left-shadow, .ng-comp-visible .ng-comp-bottom-shadow, .ng-comp-visible .ng-comp-bottom-right-shadow, .ng-comp-visible .ng-comp-bottom-left-shadow {display:none;}

/*1.2.1*/
.ng-comp-input-holder, .ng-comp-close-button {display:none;}
/*1.2.1*/

/* .ng_input_button_table is a legacy class */
.ng-input-button-table, .ng_input_button_table {border-collapse:collapse;
	border-spacing:0px;
	vertical-align:middle;
	display:inline;}

.ng-input-button-table input, .ng-input-button-table select
.ng_input_button_table input, .ng_input_button_table select {margin:0px;
	outline:none;}
	
.ng-input-button-table .ng-button {font-size:small;}

/* from 1.1.2 */
.ng-comp-disabled * {color:#666666; cursor:auto;}

/* from 1.1.3 */
.ng-3-rows-button .ng-button-icon-td, .ng-3-rows-button .ng-button-arrow-td,
.ng-2-rows-1-2-button .ng-button-icon-td, .ng-2-rows-1-2-button .ng-button-arrow-td,
.ng-2-rows-2-1-button .ng-button-icon-td, .ng-2-rows-2-1-button .ng-button-arrow-td {
	text-align:center !important;
}
.ng-3-rows-button img, .ng-2-rows-1-2-button img, .ng-2-rows-2-1-button img {margin:3px auto !important;}

/*
 * NoGray JavaScript Library
 *
 * Copyright (c), All right reserved
 * Gazing Design - http://www.NoGray.com
 * http://www.nogray.com/license.php
 */

@import 'icons_common.css';
	
/* 128x128 icons */
.ng-icon.s128 {background-image:url(icons/standard_128.png);
	width:128px; height:128px;}

/* 96x96 icons */
.ng-icon.s96 {background-image:url(icons/standard_96.png);
	width:96px; height:96px;}

/* 64x64 icons */
.ng-icon.s64 {background-image:url(icons/standard_64.png);
	width:64px; height:64px;}

/* 48x48 icons */
.ng-icon.s48 {background-image:url(icons/standard_48.png);
	width:48px; height:48px;}

/* 32x32 icons */
.ng-icon.s32 {background-image:url(icons/standard_32.png);
	width:32px; height:32px;}

/* 24x24 icons */
.ng-icon.s24 {background-image:url(icons/standard_24.png);
	width:24px; height:24px;}

/* 16x16 icons */
.ng-icon.s16 {background-image:url(icons/standard_16.png);
	width:16px; height:16px;}

/* 12x12 icons */
.ng-icon.s12 {background-image:url(icons/standard_12.png);
	width:12px; height:12px;}

/* 10x10 icons */
.ng-icon.s10 {background-image:url(icons/standard_10.png);
	width:10px; height:10px;}

/* 8x8 icons */
.ng-icon.s8 {background-image:url(icons/standard_8.png);
	width:8px; height:8px;}
	
/*
 * NoGray JavaScript Library
 *
 * Copyright (c), All right reserved
 * Gazing Design - http://www.NoGray.com
 * http://www.nogray.com/license.php
 */
 
/* right to left languages */
.rtl {direction:rtl;}

/* standard button */
.ng-button {cursor:pointer;
	display:inline-block;
	padding:5px;
	position:relative;
	text-align:center;
	background:#eeeeee;
	color:#000000;
	font-weight:300;
	text-decoration:none;
	border:solid #acacac 1px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-transition:background-color 0.1s, border-color 0.1s;
	-moz-transition:background-color 0.1s, border-color 0.1s;
	transition:background-color 0.1s, border-color 0.1s;
	white-space:nowrap;
	nav-index:auto;
	-webkit-appearance: none;
	vertical-align:middle;}
	
.ng-button .ng-icon {margin:0px auto !important;}

.ng-button a {color:inherit;
	text-decoration:inherit;
	outline:none;
	cursor:inherit;}
	
.ng-button-icon-span {display:inline-block;}
.ng-button-icon-span img {display:block;}

.ng-button-text-span {padding:0px 5px;}

.ng-button-arrow:before {content:'▼';
	font-size:smaller;
	padding-left:3px;
	text-align:left;
	display:inline-block;}
	
.rtl .ng-button-arrow:before {padding-left:0px;
	padding-right:3px;}
	
.ng-button .ng-button-count {display:inline-block;
	position:absolute;
	top:-8px;
	left:-8px;
	padding:3px;
	font-size:xx-small;
	color:#ffffff;
	border-radius:16px;
	min-width:10px;
	text-align:center;
	background:#cc1414;
	font-weight:normal;
	text-shadow:none;}
	
.rtl .ng-button-count {left:auto;
	right:-8px;}
	
/* button layout */
.ng-2-rows-1-2-button > span:nth-child(1) {display:block;
	margin:auto;
	margin-bottom:5px;}
	
.ng-2-rows-2-1-button > span:nth-child(3) {display:block;
	margin:auto;
	margin-top:5px;}
	
.ng-3-rows-button > span {display:block;
	margin:auto;}
	
.ng-3-rows-button > span:nth-child(2) {margin:5px auto;}

/* split button styles */
.ng-split-button .ng-button:first-child {-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right-width:0px;}
	
.ng-split-button .ng-button:last-child {-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;}
	
.ng-split-button .rtl.ng-button:first-child {-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right-width:1px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left-width:0px;}
	
.ng-split-button .rtl.ng-button:last-child {-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;}
	
/* main button colors */
.ng-button.main {background-color:#357da4;
	border-color:#23678b;
	color:#ffffff;
	text-shadow:1px 1px rgba(0, 0, 0, 0.35);}
	
.ng-button.main .ng-button-count {background-color:#f09e29;
	color:#000000;}
	
/* important button */
.ng-button.important {background-color:#c30e0e;
	border-color:#b31010;
	color:#ffffff;
	text-shadow:1px 1px rgba(0, 0, 0, 0.35);}
	
.ng-button.important .ng-button-count {background-color:#f09e29;
	color:#000000;}
	
/* clear button colors */
.ng-button.clear {background-color:transparent;
	border-color:transparent;}
	
.ng-button.clear .ng-button-count {} /* defaults to normal colors */

/* reverse clear button colors */
.ng-button.rclear {background-color:transparent;
	border-color:transparent;
	color:#ffffff;}
	
.ng-button.rclear .ng-button-count {background-color:#f09e29;
	color:#000000;}
	
/* over status */
.ng-button.over, .ng-button:hover {background-color:#c5e2ff;
	border-color:#3399ff;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.55);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.55);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.55);}
	
/* main button over status */
.ng-button.over.main, .ng-button.main:hover {background-color:#0e557b;
	border-color:#0d425f;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
/* important button over status */
.ng-button.over.important, .ng-button.important:hover {background-color:#a50000;
	border-color:#850d0d;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
/* clear button over status */
.ng-button.over.clear, .ng-button.clear:hover {background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.15);} 
	
/* reverse clear button over status */
.ng-button.over.rclear, .ng-button.rclear:hover {background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);} 
	
/* down status */
.ng-button.down {background-color:#b7d6f5;
	border-color:#44a2ff;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.10);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.10);}
	
/* main button down status */
.ng-button.down.main {background-color:#03486c;
	border-color:#053753;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);}
	
/* important button down status */
.ng-button.down.important {background-color:#8f0000;
	border-color:#720606;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);}
	
/* clear button down status */
.ng-button.down.clear {background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);}
	
/* reverse clear button down status */
.ng-button.down.rclear {background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);}
	
/* checked status */
.ng-button.checked {background-color:#b7d6f5;
	border-color:#44a2ff;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.55);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.55);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.55);}
	
.ng-button.checked .ng-button-count {background:#ab0000;}
	
/* main button checked status */
.ng-button.checked.main {background-color:#03486c;
	border-color:#053753;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
.ng-button.main.checked .ng-button-count {background-color:#ff9600;}
	
/* important button checked status */
.ng-button.checked.important {background-color:#8f0000;
	border-color:#720606;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
.ng-button.important.checked .ng-button-count {background-color:#ff9600;}

/* clear button checked status */
.ng-button.checked.clear {background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);}
	
.ng-button.clear.checked .ng-button-count {}


/* reverse clear button checked status */
.ng-button.checked.rclear {background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
.ng-button.rclear.checked .ng-button-count {background-color:#ff9600;}
	
/* checked over status */
.ng-button.checked.over, .ng-button.checked:hover {border-color:#3399ff;
	-moz-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.55);
	-webkit-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.55);
	box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.55);}
	
/* main button checked over status */
.ng-button.main.checked.over, .ng-button.main.checked:hover {border-color:#0d425f;
	-moz-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);}
	
/* important button checked over status */
.ng-button.important.checked.over, .ng-button.important.checked:hover {border-color:#850d0d;
	-moz-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);}
	
/* clear button checked over status */
.ng-button.clear.checked.over, .ng-button.clear.checked:hover {border-color:transparent;
	-moz-box-shadow:inset 0 0 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:inset 0 0 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 0 2px 2px rgba(0, 0, 0, 0.25);}
	
/* reverse clear button checked over status */
.ng-button.rclear.checked.over, .ng-button.rclear.checked:hover {border-color:transparent;
	-moz-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 2px 2px rgba(255, 255, 255, 0.25);}
	
/* checked down status */
.ng-button.checked.down {-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.10);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.10);}

/* main button checked down status */
.ng-button.main.checked.down {-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);}
	
/* important button checked down status */
.ng-button.important.checked.down {-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);}
	
/* clear button checked down status */
.ng-button.clear.checked.down {-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);}
	
/* reverse clear button checked down status */
.ng-button.rclear.checked.down {-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.20);}
	
/* checked checkbox button */
.ng-button.checked.checkbox .ng-button-text-span:after,
.ng-button.checked.radio .ng-button-text-span:after {position:absolute;
	top:-3px;
	right:1px;
	font-size:smaller;
	opacity:0.5;}
	
.rtl.ng-button.checked.checkbox .ng-button-text-span:after,
.rtl.ng-button.checked.radio .ng-button-text-span:after {right:auto;
	left:1px;}
	
.ng-button.checked.checkbox .ng-button-text-span:after {content:'✓';}
.ng-button.checked.radio .ng-button-text-span:after {content:'●';}
	
/* disabled status */
.ng-button[disabled], .ng-button[disabled].down, .ng-button[disabled].over, .ng-button[disabled]:hover,
.ng-button.disabled, .ng-button.disabled.down, .ng-button.disabled.over, .ng-button.disabled:hover {color:#666666;
	background:#e3e3e3;
	border-color:#cecece;
	cursor:not-allowed;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;}
	
.ng-button[disabled] .ng-button-count, .ng-button.disabled .ng-button-count {background:#a55959;}

/* disabled icon opacity */
.ng-button[disabled] .ng-button-icon-span,
.ng-button.disabled  .ng-button-icon-span {opacity:0.35;}
	
/* main button disabled status */
.ng-button.main[disabled], .ng-button.main[disabled].down, .ng-button.main[disabled].over,
.ng-button.main[disabled]:hover, .ng-button.main.disabled, .ng-button.main.disabled.down
.ng-button.main.disabled.over, .ng-button.main.disabled:hover {color:#e7e7e7;
	background:#5b89a2;
	border-color:#4f7081;}
	
.ng-button.main[disabled] .ng-button-count,
.ng-button.main.disabled .ng-button-count {background-color:#dcc19a;}
	
/* important button disabled status */
.ng-button.important[disabled], .ng-button.important[disabled].down, .ng-button.important[disabled].over,
.ng-button.important[disabled]:hover, .ng-button.important.disabled, .ng-button.important.disabled.down
.ng-button.important.disabled.over, .ng-button.important.disabled:hover {color:#d0d0d0;
	background:#a74343;
	border-color:#9c4545;}
	
.ng-button.important[disabled] .ng-button-count,
.ng-button.important.disabled .ng-button-count {background-color:#dcc19a;}

/* clear button disabled status */
.ng-button.clear[disabled], .ng-button.clear[disabled].down, .ng-button.clear[disabled].over,
.ng-button.clear[disabled]:hover, .ng-button.clear.disabled, .ng-button.clear.disabled.down
.ng-button.clear.disabled.over, .ng-button.clear.disabled:hover {color:#888888;
	background-color:transparent;
	border-color:transparent;}
	
.ng-button.clear[disabled] .ng-button-count,
.ng-button.clear.disabled .ng-button-count {}

/* reverse clear button disabled status */
.ng-button.rclear[disabled], .ng-button.rclear[disabled].down, .ng-button.rclear[disabled].over,
.ng-button.rclear[disabled]:hover, .ng-button.rclear.disabled, .ng-button.rclear.disabled.down
.ng-button.rclear.disabled.over, .ng-button.rclear.disabled:hover {color:#a5a5a5;
	background-color:transparent;
	border-color:transparent;}
	
.ng-button.rclear[disabled] .ng-button-count,
.ng-button.rclear.disabled .ng-button-count {background-color:#867c6b;}
	
/* disabled checked status */
.ng-button[disabled].checked, .ng-button[disabled].checked.down, .ng-button[disabled].checked.over,
.ng-button[disabled].checked:hover, .ng-button.checked.disabled, .ng-button.checked.disabled.down,
.ng-button.checked.disabled.over, .ng-button.checked.disabled:hover {color:#333333;
	background:#cfcfcf;
	border-color:#bbbbbb;}
	
.ng-button[disabled].checked .ng-button-count, .ng-button.disabled .checked.ng-button-count {background:#7a3e3e;}
	
/* main button disabled checked status */
.ng-button.main[disabled].checked, .ng-button.main[disabled].checked.down, .ng-button.main[disabled].checked.over,
.ng-button.main[disabled].checked:hover, .ng-button.main.checked.disabled, .ng-button.main.checked.disabled.down,
.ng-button.main.checked.disabled.over, .ng-button.main.checked.disabled:hover {color:#c8c8c8;
	background:#40687d;
	border-color:#2b404b;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
.ng-button.main[disabled].checked .ng-button-count,
.ng-button.main.disabled.checked .ng-button-count {background:#f1c88d;}

/* important button disabled checked status */
.ng-button.important[disabled].checked, .ng-button.important[disabled].checked.down,
.ng-button.important[disabled].checked.over, .ng-button.important[disabled].checked:hover,
.ng-button.important.checked.disabled, .ng-button.important.checked.disabled.down,
.ng-button.important.checked.disabled.over, .ng-button.important.checked.disabled:hover {color:#cfcfcf;
	background:#914646;
	border-color:#6c3b3b;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
.ng-button.important[disabled].checked .ng-button-count,
.ng-button.important.disabled.checked .ng-button-count {background:#f1c88d;}

/* clear button disabled checked status */
.ng-button.clear[disabled].checked, .ng-button.clear[disabled].checked.down, .ng-button.clear[disabled].checked.over,
.ng-button.clear[disabled].checked:hover, .ng-button.clear.checked.disabled, .ng-button.clear.checked.disabled.down,
.ng-button.clear.checked.disabled.over, .ng-button.clear.checked.disabled:hover {color:#505050;
	background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.25);}
	
.ng-button.clear[disabled].checked .ng-button-count,
.ng-button.clear.disabled.checked .ng-button-count {}

/* reverse clear button disabled checked status */
.ng-button.rclear[disabled].checked, .ng-button.rclear[disabled].checked.down, .ng-button.rclear[disabled].checked.over,
.ng-button.rclear[disabled].checked:hover, .ng-button.rclear.checked.disabled, .ng-button.rclear.checked.disabled.down,
.ng-button.rclear.checked.disabled.over, .ng-button.rclear.checked.disabled:hover {color:#c0c0c0;
	background-color:transparent;
	border-color:transparent;
	-moz-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 0 1px 1px rgba(255, 255, 255, 0.25);}
	
.ng-button.clear[disabled].checked .ng-button-count,
.ng-button.clear.disabled.checked .ng-button-count {background-color:#807869;}

/* sub buttons list */
.ng-sub-buttons {display:none;}

/* button options list */
.ng-buttons-vertical {list-style:none;
	margin:0px;
	padding:0px;}
	
.ng-buttons-vertical > li {list-style:none !important;
	margin:0px !important;
	padding:0px !important;}
	
.ng-buttons-vertical > li > .ng-button {-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	border-top-width:0px;
	display:block;}
	
.ng-buttons-vertical > li:first-child > .ng-button {-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-width:1px;}
	
.ng-buttons-vertical > li:last-child > .ng-button {-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;}
	

.ng-buttons-vertical.ng-floating > li > .ng-button {-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.15);
	box-shadow:2px 2px 3px rgba(0,0,0,0.15);}
	
.ng-buttons-vertical.ng-floating > li > .rtl.ng-button {-moz-box-shadow:-2px 2px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow:-2px 2px 3px rgba(0,0,0,0.15);
	box-shadow:-2px 2px 3px rgba(0,0,0,0.15);}
	
/* horizontal buttons list */
.ng-buttons-horizontal {margin:0px;
	padding:0px;
	list-style:none;
	display:inline-block;
	border-collapse:collapse;
	white-space:nowrap;}
	
.ng-buttons-horizontal > li {margin:0px !important;
	padding:0px !important;
	list-style:none !important;
	display:table-cell !important;
	vertical-align:top !important;
	border-collapse:collapse !important;}
	
.ng-buttons-horizontal > li > .ng-button {-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	border-left-width:0px;}
	
.ng-buttons-horizontal > li:first-child > .ng-button {-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left-width:1px;}
	
.ng-buttons-horizontal > li:last-child > .ng-button {-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;}
	
.ng-buttons-horizontal > li:first-child > .rtl.ng-button {-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left-width:0px;
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right-width:1px;}
	
.ng-buttons-horizontal > li:last-child > .rtl.ng-button {-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left-width:1px;}
	
.ng-buttons-horizontal.ng-floating > li > .ng-button {-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.15);
	box-shadow:2px 2px 3px rgba(0,0,0,0.15);}
	
.ng-buttons-horizontal.ng-floating > li > .rtl.ng-button {-moz-box-shadow:-2px 2px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow:-2px 2px 3px rgba(0,0,0,0.15);
	box-shadow:-2px 2px 3px rgba(0,0,0,0.15);}
	
/* components input and button */
.ng-input-button-container {white-space:nowrap;}
.ng-input-button-container .ng-button {padding:0px 2px;
	margin:0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left-width:0px;
	vertical-align:top;}
	
.ng-input-button-container .rtl.ng-button {-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right-width:0px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left-width:1px;}
	
.ng-input-button-container input {margin:0px;}
	
/* components style */
.ng-comp-main-div {border:solid #b6bccc 1px;
		background:#f2f5fa;
		display:inline-block;
		-moz-box-shadow: 3px 3px 2px rgba(0,0,0,.3);
		-webkit-box-shadow: 3px 3px 2px rgba(0,0,0,.3);
		box-shadow: 3px 3px 2px rgba(0,0,0,.3);}
		
.rtl.ng-comp-main-div {-moz-box-shadow: -3px 3px 2px rgba(0,0,0,.3);
		-webkit-box-shadow: -3px 3px 2px rgba(0,0,0,.3);
		box-shadow: -3px 3px 2px rgba(0,0,0,.3);}
		
.ng-comp-visible .ng-comp-main-div {box-shadow:none;}

.ng-comp-hidden {display:none;
	position:absolute;
	top:auto; left:auto;
	z-index:100000;}
	
.ng-comp-iframe-shim {z-index:10000;
	position:absolute;
	width:0px;
	height:0px;
	display:none;
	border:none;}
	
.ng-comp-disabled * {color:#666666; cursor:auto;}

/*1.2.1*/
.ng-comp-input-holder, .ng-comp-close-button {display:none;}
/*1.2.1*/
	
/* toolbar */
.ng-toolbar {background:#eeeeee;
	padding:5px;
	border:solid #9ca3be 1px;
	position:relative;}

.ng-toolbar .ng-button {font-size:smaller;
	padding:3px;}
	
/*1.2.1*/
@media screen and (max-width:480px){
	body.ng-comp-open {overflow:hidden;}
	.ng-comp-input-holder {display:block;
		text-align:center;
		position:relative;
		margin-bottom:1px;}
		
	.ng-comp-close-button {position:absolute;
		display:block;
		top:auto;
		left:auto;
		background:#c30e0e;
		color:#ffffff;
		font-size:medium;
		font-weight:bold;
		cursor:pointer;
		text-align:center;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
		border:solid rgba(255, 255, 255, 0.35) 1px;
		top:-26px;
		right:0px;
		padding:0px 10px;}
		
	.ng-comp-visible .ng-comp-close-button {display:none;}
		
	.ng-comp-input-holder input, .ng-comp-input-holder select {padding:2%;
		width:95%;
		background:#ffffff;
		border:solid #3399ff 1px;
		outline:none;}
		
	.ng-comp-hidden {background:rgba(2, 22, 74, 0.9);
		overflow:auto;}
}
/*1.2.1*/
