    .pop-up-wrapper > .pop-up-radio-button-wrap{
        margin-bottom: 10px;
    }

        .pop-up-wrapper > .pop-up-radio-button-wrap label {
            position: relative;
            top: -40px;
        }
        .pop-up-wrapper > .pop-up-radio-button-wrap input {
            position: relative;
            top: 40px;
        }