.k-dialog button{
	height: auto;
}

#dialog-table td, #dialog-table th{
	padding: 5px;
}

#only-PO-MNA, #only-PO-SKUA {
	width: 200px;
}

#dialog-table th{
	text-align: center;
	font-weight: 700;
}

.dialog-title{
	text-align: center;
	display: inline-block;
	width: 100%;
}

#action_dialog {
	border-top: 1px solid black;
}

.dialog-chkbox{
	text-align: center;
}

.dialog-chkbox input {
	width: auto;
}