﻿body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Segoe UI, Arial, sans-serif;
}

ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


li {
    display: inline;
    float: left;
    padding-top: 2px;
    padding-right: 10px;
}

    li a {
    	display:block;
        color: #fff;
        background-color: #00204f;
        border: none;
        padding: 2px 5px;
/*        vertical-align: middle;*/
        text-decoration: none;
        font-weight: 400;
        font-family: "Segoe UI" , "Segoe" , Tahoma, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
    }

li a span{
    color: #FFF !important;
    float: none;
    display: block;
    font-weight: 400;
    text-align: left;
}
li a span.big_text{
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}
li a span.small_text{
    padding-top: 5px;
    text-transform: capitalize;
    font-size: 11px;
    line-height:14px;
}
        li a:hover {
            text-decoration: none;
            background-color: #00409d;
            -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
			box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
        }
        li a:active {
            text-decoration: none;
            background-color: #bf1e4b;
            -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
			box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
            font-weight: 600;
        }
        li a.Active {
            text-decoration: none;
            background-color: #bf1e4b;
            -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
			box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
            font-weight: 600;
        }
    li a.tabShowAll {
        color: #fff;
        background-color: #643ebf;
        border: 1px solid #808080;
        padding: 2px 5px;
        vertical-align: middle;
        text-decoration: none;
        font-weight: 700;
    }
    li a.tabExpandedAll {
        color: #fff;
        background-color: #a700ae;
        border: 1px solid #808080;
        padding: 2px 5px;
        vertical-align: middle;
        text-decoration: none;
        font-weight: 700;
    }
    li a.tabCollapsedAll {
        color: #fff;
        background-color: #dc572e;
        border: 1px solid #808080;
        padding: 2px 5px;
        vertical-align: middle;
        text-decoration: none;
        font-weight: 700;
    }


span {
    display: none;
    float: left;
    margin-left: 3px;
    padding-right: 10px;
    color: #666666;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
