/*test*/
#fields-container li{
	display: inline-block;
	width: 32%;
	margin: 5px;
}

.k-dialog button{
	height: auto;
}

.k-window-title{
	left: 1em !important;
}

.k-window-titlebar .k-window-actions{
	right: 1em !important;
}