body{
    margin-right:10px;
}

#tablePanel {
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.main {
    text-align: center;
    //width: 100%;
// padding : 30 px 50 px 50 px 50 px;
    //margin: 0 auto 30px;
    margin: 0;
    height:225px;
 }
.clear {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0
}

.entities-collection {
    position: relative;
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 10px 0 0 10px;
    font-size: 1em;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .3) 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, .3) 100%, transparent 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, .3) 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, .3) 100%, transparent 100%);
    background-image: linear-gradient(left, rgba(255, 255, 255, .3) 100%, transparent 100%);
    background-repeat: no-repeat;
    background-position: 0 -2em
}

.entities-collection:after, .entities-collection:before {
    position: absolute;
    content: ""
}

.entities-collection:before {
    bottom: 0;
    left: -2em;
    width: 100%;
    height: 2em;
    background-color: rgba(183, 183, 183, .75);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg)
}

.entities-collection:after, .entity-background:after {
    -webkit-transform: skew(0deg, -45deg);
    -moz-transform: skew(0deg, -45deg);
    -o-transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg)
}

.entities-collection:after {
    top: 1em;
    left: -3em;
    width: 2em;
    background-color: rgba(129, 129, 129, .4);
    transform: skew(0deg, -45deg)
}

.entities-collection > li {
    float: left;
    position: relative
}

.entities-collection > li:nth-last-child(2) {
    margin-right: 1em
}

.entities-collection > li .entity-container, .entities-collection > li:nth-last-child(2) .entity-container {
    margin-right: 2em
}

.entities-collection > li > span {
    position: absolute;
    left: -2em;
    bottom: -2.5em;
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
    color: #000;
    font-size: 1em;
}

.entities-collection > li > span > b {
    display: block;
    font-weight: 400;
    font-size: .75em
}

.entities-collection > li:last-child {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0
}

.y-marker-container > li {
    position: absolute;
    left: -1em;
    bottom: 0;
    width: 100%;
    margin-bottom: 2em;
    list-style: none
}

.y-marker-container > li:after, .y-marker-container > li:before {
    content: "";
    position: absolute;
    border-style: none none dotted;
    border-color: rgba(100, 100, 100, .15);
    border-width: 0 0 .15em;
    background: rgba(133, 133, 133, .15)
}

.y-marker-container > li:before {
    width: 3em;
    height: 0;
    bottom: -1em;
    left: -2.5em;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.y-marker-container li:after {
    width: 100%;
    bottom: 0;
    left: 0
}

.y-marker-container span {
    position: absolute;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
    top: 1.5em;
    left: -4.5em;
    width: 0;
    font-size: 1em
}

.entity-wrapper {
    overflow: hidden
}

.entity-container {
    position: relative;
    margin-top: 2em;
    width: 10em
}

.entity-container:before {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 2em 2em;
    border-color: transparent transparent rgba(183, 183, 183, 1)
}

.entity-background {
    width: 8em;
    height: 100%;
    position: absolute;
    top: -2em;
    left: 2em;
    z-index: 1
}

.entity-background:after, .entity-background:before {
    content: "";
    position: absolute
}

.entity-background:before {
    bottom: -2em;
    right: 1em;
    width: 8em;
    height: 2em;
    -webkit-backface-visibility: hidden;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg)
}

.entity-background:after {
    top: 1em;
    right: 8em;
    width: 2em;
    height: 100%;
    -webkit-backface-visibility: hidden;
    transform: skew(0deg, -45deg)
}

.entity-foreground {
    z-index: 3
}

.entity-foreground, .entity-inner {
    position: absolute;
    width: 6em;
    height: 100%;
    top: 0;
    left: 0
}

.entity-foreground:after, .entity-foreground:before, .entity-inner:after, .entity-inner:before {
    content: "";
    position: absolute
}

.entity-foreground:before, .entity-inner:before {
    top: -1em;
    right: -2em;
    width: 2em;
    height: 100%;
    background-color: rgba(160, 160, 160, .27);
    -webkit-transform: skew(0deg, -45deg);
    -moz-transform: skew(0deg, -45deg);
    -o-transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg);
    transform: skew(0deg, -45deg)
}

.entity-foreground:after, .entity-inner:after {
    top: -2em;
    right: -1em;
    width: 100%;
    height: 2em;
    background-color: rgba(160, 160, 160, .2);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg)
}

.entity-inner, .entity-inner:before {
    background-color: rgba(5, 62, 123, .6)
}

.entity-inner {
    z-index: 2;
    top: auto;
    height: 0;
    bottom: -2em;
    color: transparent;
    -webkit-transition: height .8s ease-out, bottom .8s ease-out;
    -moz-transition: height .8s ease-out, bottom .8s ease-out;
    -o-transition: height .8s ease-out, bottom .8s ease-out;
    -ms-transition: height .8s ease-out, bottom .8s ease-out;
    transition: height .8s ease-out, bottom .8s ease-out
}

.entity-inner:after {
    background-color: rgba(47, 83, 122, .7)
}


.entities-collection > li:first-child {
    margin-left: 2em
}

.entity-background {
    background-color: rgba(160, 160, 160, .15)
}

.entity-background:before {
    background-color: rgba(160, 160, 160, .4)
}

.entity-background:after {
    background-color: rgba(160, 160, 160, .2)
}

.entity-foreground {
    background-color: rgba(160, 160, 160, .1)
}

.main span:first-of-type {
    margin-left: 0
}

/* Height Chart */

.entities-collection .entity-container, .entities-collection:after, .entities-collection > li:last-child {
    height: 14em
}

