.k-multiselect.k-header, .k-widget.k-dropdown.k-header {
    margin-left: 23px !important;
    color: #333;
    font-size: 11px;
}
.k-multiselect-wrap.k-floatwrap {
    min-height: 21px;
}
.k-multiselect.k-header {
 width: 93.5% !important;
 margin-bottom: 1px;
}
.k-widget.k-dropdown.k-header {
    width: 94% !important;
    min-height: 23px !important;
}
.k-widget.k-dropdown.k-header .k-dropdown-wrap {
    height: 21px !important;
    padding: 0px !important;
}
.k-multiselect > .k-multiselect-wrap > .k-i-close {
    top: 3px !important;
}
.k-widget.k-dropdown.k-header .k-dropdown-wrap .k-input {
    padding: 0px !important;
}
.k-dropdown-wrap .k-select {
 line-height: 21px;
}
.ms-crm-Form-AreaContainerQuick.ms-crm-Form-Background {
    height: auto !important;
}
.refresh-form .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {
    padding: 10px 15px !important;
}
.refresh-form table.ms-crm-FormSection {
    margin-top: 5px !important ;
}

.bpf-wrapper {
    position: relative; /* required */
    z-index: 2; /* random value, not required */
    min-height: 100px;
}

div.k-loading-mask {
    z-index: 3; /* must be larger than the z-index:2 of #container */
}

.bpf-wrapper .k-tabstrip.k-header {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #79AB9E;
    padding-bottom: 1px;
    display: inline-block;
    width: 100%;
}
.bpf-wrapper .k-tabstrip-items.k-reset {
    border-bottom: 2px solid #79AB9E;
    padding: 1px 0 1px 0;
}
.bpf-wrapper .k-tabstrip-items .k-state-default {
    background-color: #6c6c6c !important;
    border: none;
    width: 200px;
    margin: 0 5px;
}
.bpf-wrapper .k-tabstrip-items .k-link {
    padding: 2px 5px;
}
.bpf-wrapper .k-item.k-state-default::before {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #fff;
    border-top: 11px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 0%;
    top: 50%;
    width: 0;
    margin-top: -11px;
}
.bpf-wrapper .k-item.k-state-default::after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #6c6c6c;
    border-top: 11px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    margin-top: -11px;
    z-index: 1;
}
.bpf-wrapper .k-tabstrip .k-item.k-state-active {
    background-color: #79AB9E !important;
    line-height: 20px;
}
.bpf-wrapper .k-tabstrip .k-item.k-state-active:after {
	border-bottom: 11px solid transparent;
    border-left: 11px solid #79AB9E;
    border-top: 11px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    margin-top: -11px;
    z-index: 1;
}
.bpf-wrapper .k-tabstrip-items .k-state-default.k-state-hover {
    cursor: pointer;
    background-color: #555 !important;
}
.bpf-wrapper .k-tabstrip-items .k-state-default.k-state-hover::after {
    border-left: 11px solid #555 !important;
    cursor: pointer;
}
.bpf-wrapper .k-tabstrip .k-item.k-state-active:hover {
	cursor: pointer;
	background-color: #569282 !important;
}
.bpf-wrapper .k-tabstrip-items .k-state-active:hover::after {
    border-left: 11px solid #569282 !important;
    cursor: pointer;
}
.bpf-wrapper .k-tabstrip-items li:first-of-type::before, .k-tabstrip-items li:last-of-type::after {
    border: none !important;
}
.bpf-wrapper .k-tabstrip-items .k-state-default .k-link {
    color: #fff;
    text-indent: 35px;
    font-size: 13px;
    width: calc(100% - 15px);
}
.bpf-wrapper .k-tabstrip-items .k-state-default .k-link::before {
    content: "\2714";
    position: absolute;
    left: -13px;
}
.bpf-wrapper .k-tabstrip-items .k-state-active .k-link::before {
    content: "";
}
.bpf-wrapper .k-tabstrip > .k-button {
    top: 2px;
}
.bpf-btns-wrapper {
    margin-bottom: 5px;
    height: 26px;
}
.bpf-btns-wrapper button {
    float: right;
    margin: 2px 3px;
    background-color: #79AB9E !important;
    padding: 2px 7px;
    height: 24px;
    color: #fff;
    border: none !important;
}
.bpf-btns-wrapper button:hover, .bpf-btns-wrapper button:active, .bpf-btns-wrapper .k-button:hover, .bpf-btns-wrapper .k-button:active {
	background-color: #569282 !important;
	color:#fff !important;
}

/********************************************************************************************************************************************/
ul.bpf-br-container li {
    float: left;
    width: calc(20% - 10px);
    padding-right: 10px;
    margin: 5px 0;
    font-weight: bold;
}
li.bpf-br-element.bpf-br-status-error:before, li.bpf-br-element.bpf-br-status-done:before, li.bpf-br-element.bpf-br-status-inprogress:before, li.bpf-br-element.bpf-br-status-none:before {
    margin-right: 5px;
    font-size: 9px;
    font-weight: bold;
    border-radius: 50%;
    background: #fff;
    color: #fff;
    text-align: center;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #bababa;
    line-height: 14px;
}
li.bpf-br-element.bpf-br-status-error:before {
    color: #fff;
    border-color: #a2382b;
    content: "\2715";
    background: #e1503f;
}
li.bpf-br-element.bpf-br-status-done:before {
    color: #fff;
    content: "\2713";
    border-color: #327b4f;
    background: #2cac5f;
}
li.bpf-br-element.bpf-br-status-inprogress:before {
    color: #fff;
    background: #e9a013;
    border-color: #bb8317;
    content: "\0021";
}
li.bpf-br-element.bpf-br-status-none:before {
    color: #fff;
    font-weight: bold;
    content: "\2012";
    background: #d9d9d9;
}
.bpf-wrapper .k-tabstrip.k-header, .bpf-wrapper .k-tabstrip.k-header:hover, .bpf-wrapper li.k-state-hover {
    color: transparent !important;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-done {
    background-color: #327b4f !important;
    background: repeating-linear-gradient( 45deg, rgb(59, 144, 93), rgb(59, 144, 93) 10px, #327b4f 10px, #327b4f 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-done.k-state-hover {
    background-color: #fff !important;
    background: repeating-linear-gradient( 45deg, rgba(59, 144, 93, 0.8), rgba(59, 144, 93, 0.8) 10px, rgba(50, 123, 79, 0.8) 10px, rgba(50, 123, 79, 0.8) 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-done.k-state-hover:after {
    border-left-color: rgb(91, 149, 114) !important;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-done::after {
    border-left: 11px solid rgb(50, 123, 79);
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-error {
    background-color: #a2382b !important;
    background: repeating-linear-gradient( 45deg, rgb(185, 71, 57), rgb(185, 71, 57) 10px, rgb(162, 56, 43) 10px, rgb(162, 56, 43) 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-error.k-state-hover {
    background-color: #fff !important;
    background: repeating-linear-gradient( 45deg, rgba(185, 71, 57, 0.8), rgba(185, 71, 57, 0.8) 10px, rgba(162, 56, 43, 0.8) 10px, rgba(162, 56, 43, 0.8) 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-error.k-state-hover:after {
    border-left-color: rgb(181, 96, 85) !important;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-error::after {
    border-left: 11px solid rgb(162, 56, 43);
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress {
    background-color: #bb8317 !important;
    background: repeating-linear-gradient( 45deg, #d69820, #d69820 10px, rgb(187, 131, 23) 10px, rgb(194, 138, 29) 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress.k-state-hover {
    background-color: #fff !important;
    background: repeating-linear-gradient( 45deg, rgba(214, 152, 32, 0.8), rgba(214, 152, 32, 0.8) 10px, rgba(187, 131, 23, 0.8) 10px, rgba(194, 138, 29, 0.8) 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress.k-state-hover:after {
    border-left-color: rgb(203, 158, 71) !important;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress::after {
    border-left: 11px solid rgb(190, 134, 25);
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate {
    background-color: #bababa !important;
    background: repeating-linear-gradient( 45deg, #a9a8a8, #a9a8a8 10px, #bababa 10px, #bababa 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate.k-state-hover {
    background-color: #fff !important;
    background: repeating-linear-gradient( 45deg, rgba(169, 168, 168, 0.8), rgba(169, 168, 168, 0.8) 10px, rgba(186, 186, 186, 0.8) 10px, rgba(186, 186, 186, 0.8) 20px );
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate.k-state-hover:after {
    border-left-color: rgb(200, 200, 200) !important;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate::after {
    border-left: 11px solid rgb(186, 186, 186);
}
.bpf-wrapper .k-tabstrip-items .k-state-active, .bpf-wrapper .k-tabstrip .k-item.k-state-active {
    background-color: rgb(121, 171, 158) !important;
    background: repeating-linear-gradient( 45deg, #79ab9e, #79ab9e 10px, #79ab9e 10px, #79ab9e 20px );
    height: 24px;
    line-height: 22px;
    margin-top: -1px;
}
.bpf-wrapper .k-tabstrip .k-item.k-state-active:after, .bpf-wrapper .k-tabstrip .k-item.k-state-active:after {
    border-left-color: rgb(121, 171, 158) !important;
    border-bottom-width: 12px;
    border-left-width: 12px !important;
    border-top-width: 12px;
    margin-top: -12px;
}
.bpf-wrapper .k-tabstrip-items .k-state-active:hover, .bpf-wrapper .k-tabstrip .k-item.k-state-active:hover {
    background-color: rgb(121, 171, 158) !important;
}
.bpf-wrapper .k-tabstrip-items .k-state-active:hover:after, .bpf-wrapper .k-tabstrip-items .k-state-active:hover::after {
    border-left-color: rgb(121, 171, 158) !important;
    border-left-width: 12px;
}
.bpf-wrapper .k-tabstrip-items .k-state-default {
    height: 22px;
}
.bpf-wrapper .k-tabstrip .k-item.k-state-active {
    color: transparent !important;
}
.bpf-wrapper .k-tabstrip-items .k-state-default {
    margin: 0 6px 0 5px;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-done .k-link::before, .bpf-wrapper .k-tabstrip-items .bpf-step-status-error .k-link::before, .bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress .k-link::before , .bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate .k-link::before {
    position: relative;
    left: 0px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 0px;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
} 
.bpf-wrapper .k-tabstrip-items .bpf-step-status-done .k-link::before {
    color: #327b4f;
    content: "\2714";
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-error .k-link::before {
    color: #a2382b;
    content: "\2716";
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress .k-link::before {
    color: #bb8317;
    content: "\0021";
    font-weight: bold;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-readytocalculate .k-link::before {
    color: #bababa !important;
    top: 1px;
    font-weight: bold;
    content: "\2012";
}
.bpf-wrapper .k-tabstrip-items .k-state-active .k-link::before  {
    color: #93bbb1 !important;
    line-height: 16px;
}
.bpf-wrapper .k-tabstrip-items.k-reset {
    padding: 1px 0 0px 0;
}
.bpf-wrapper .k-tabstrip-items .k-state-default .k-link {
    text-indent: 0px;
    padding-left: 16px;
}
.bpf-wrapper .k-tabstrip-items .bpf-step-status-inprogress {
    background-size: 56px 28px;
    -webkit-background-size: 56px 28px;
    -moz-background-size: 56px 28px;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}
@-webkit-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 85px 0;}
}

@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 85px 0;}
}