/* Styles for form viewer start */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}

body .container-fluid {
    padding: 0;
}

body .row {
    margin: 0;
}

#form-viewer, .portal-column-list, .portal-control-list {
    padding: 15px;
}

.portal-column-list, .portal-control-list {
    border: 1px dashed black;
}

.portal-section {
    padding-right: 15px;
}

.portal-column:last-child .portal-section {
    padding-right: 0;
}

.portal-tab-label, .portal-section-label, #form-viewer .portal-control {
    padding-top: 15px;
}

.portal-tab-label, .portal-section-label {
    font-weight: bold;
}

.portal-tab-label {
    font-size: 16pt;
}

.portal-section-label {
    font-size: 12pt;
}

.k-dropdown, .k-textbox {
    width: 100%;
}

#crm-btn-close button {
    float: right;
}

.k-grid-content {
    min-height: 200px;
}

.portal-control-textarea {
    min-height: 300px;
}

.k-grid tr {
    cursor: pointer;
}

/* Styles for form viewer start */