.k-tabstrip-items {
    padding: 0px;
}
.k-tabstrip-wrapper {
    padding: 0px;
}
ul.k-tabstrip-items.k-reset {
    margin: 0px !important;
}
div#tabstrip {
    background-color: transparent;
    /*border-color: transparent !important;*/
    padding: 0px !important;
    background: none !important;
}
.k-tabstrip>.k-content {
    margin: 0px !important;
    padding-top: 15px;
}
.k-tabstrip .custom-h2 {
    padding: 15px 0 10px !important;
}
#form-login-tab span {
    text-align: center;
    font-size: 60px;
    margin: 0px auto;
    padding: 10px 5px 10px 5px;
    border: 3px solid #bcbcbc;
    border-radius: 50px;
    line-height: 50px;
    color: #bcbcbc;
    background-image: none !important;
}
#form-register-tab span {
    text-align: center;
    font-size: 50px;
    margin: 0px auto;
    padding: 10px;
    border: 3px solid #bcbcbc;
    border-radius: 50px;
    line-height: 50px;
    color: #bcbcbc;
    background-image: none !important;
}
.k-tabstrip>.k-tabstrip-items>.k-item {
    border-radius: 0;
    width: 50% !important;
    border: none !important;
    padding: 0px !important;
}
div#tabstrip span.k-link {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
}
#tabstrip .form-icon {
    margin: 15px auto !important;
}
.k-tabstrip-items .k-loading {
    border:none !important;
}
.k-tabstrip .k-content.k-state-active {
    border: none !important;
}
.form-login-register-home input {
    margin-bottom: 10px;
}
.k-tabstrip-items .k-state-active, .k-tabstrip-items .k-tab-on-top {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.k-tabstrip-items .k-item {
    margin:0px !important;
}
div#auth-err-msg-login, div#auth-err-msg-register {
    display: none;
}
div.login-bg-2 {
    background-image: url(/Content/Themes/Default/home-bg-2.jpg);
    background-repeat: no-repeat;
    width: 75%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 96vh;
    background-position: 69% 25%;
}