/*********** iPhone 6 in portrait & landscape *****************/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #grid .k-i-filter {
    display: none;
    }
    table.k-selectable td, .k-grid-header-wrap.k-auto-scrollable th {
        width: 300px !important;
    }
    .portal-control.row.portal-control-grid.portal-control-subgrid .k-editable th.k-header, .portal-control.row.portal-control-grid.portal-control-subgrid .k-editable td {
        width: 300px !important;
        min-width: 300px !important;
    }
    .portal-column-list.row .portal-column.col-md-2 {
        width: 100% !important;
    }
    .login-footer {
        display: none;
    }
    #header {
        height: 43px;
    }
    .quick-form-body .portal-column-list.row .portal-column.col-md-2:first-of-type {
        width: 100% !important;
    }
}
/*********** iPhone 6 в portrait *****************/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    #crm-portal-user-isnt-auth .k-widget.k-dropdown.k-header {
        width: 120px !important;
    }
    div#portal-versions-wrapper {
        font-size: 11px;
        line-height: 22px;
    }
    .login-bg-form {
        padding-top: 50px;
        width: auto;
        height: 100%;
        position: absolute;
    }
    .login-form-style-1, .registration-form-style-1 {
        margin: 0px auto !important;
        width: 90%;
        padding-top: 20px;
    }
    .login-form-style-1 #auth-err-msg {
        margin-bottom: 15px;
    }
    .login-form-style-1 .k-button {
        margin-top: 0px;
    }
    #wrapper {
        margin-top: 43px;
        margin-bottom: 30px;
    }
    .login-form-style-2 {
        width: 100%;
    }
    #portal-registration-form .login-bg-form {
        width: 100%;
        height: auto;
        padding-top: 65px;
    }
    .login-form-style-3 .login-form-window, .registration-form-style-3 .login-form-window {
        top: 20%;
        width: 90%;
        padding: 20px;
    }
    .registration-form-style-3 .login-form-window {
        margin-bottom: 10%;
    }
    .login-form-window-top {
        position: absolute;
        top: -60px;
        left: 33%;
        padding: 21px 25px 13px 21px;
        border-radius: 50%;
        text-align: center;
        width: 120px;
    }
    .login-form-style-3 .custom-h2, .registration-form-style-3 .custom-h2 {
        padding: 40px 10px 15px;
    }
    .login-form-style-3, .registration-form-style-3 {
        overflow-y: auto;
    }
    #form-viewer span.portal-dropdownlist-for-view {
        width: 110px !important;
    }
    #main-menu-ul li a strong {
        font-size: 18px;
        text-transform: uppercase;
    }
    #main-menu-ul li a, #main-menu-ul li a.main-logo {
        padding: 10px 15px !important;
    }
    #main-menu-ul span {
        padding-right: 0px;
    }
    #main-menu-ul {
        -webkit-animation: fadeInLeft 300ms ease-in-out;
        -moz-animation: fadeInLeft 300ms ease-in-out;
        -ms-animation: fadeInLeft 300ms ease-in-out;
        -o-animation: fadeInLeft 300ms ease-in-out;
        animation: fadeInLeft 300ms ease-in-out;
    }
    #grid-panel, #grid-panel .filterPanelForGrid {
        height: auto;
    }
    .filterPanelForGrid .col-md-3 {
        width: 48% !important;
    }
    .filterPanelForGrid .col-md-3.col-md-offset-6 {
        margin-left: 4%;
    }
}
/*********** iPhone 6 в landscape *****************/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    #crm-portal-user-isnt-auth .k-widget.k-dropdown.k-header {
        width: 120px !important;
    }
    .login-bg-form {
        padding-top: 50px;
        width: 80%;
        height: 100%;
        position: absolute;
        left: 10%;
    }
    .login-form-style-2 .login-bg-form, .form-login-register-home .login-bg-form {
        padding-top: 50px;
        width: 80%;
        height: auto;
        position: absolute;
        left: 10%;
        padding: 12% 0 6%;
    }
    .login-form-style-3, .registration-form-style-3 {
        overflow-y: auto;
    }
    .login-form-style-3 .login-form-window, .registration-form-style-3 .login-form-window {
        top: 34%;
        width: 90%;
        padding: 20px;
        margin-bottom: 7%;
    }
    .login-form-window-top {
        position: absolute;
        top: -60px;
        padding: 21px 25px 13px 21px;
        border-radius: 50%;
        text-align: center;
        width: 120px;
        left: 39%;
    }
    #header .col-md-3 {
        width: 70% !important;
    }
}
/*************** iPad в portrait & landscape ***************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #grid .k-i-filter {
        display: none;
    }
    table.k-selectable td, .k-grid-header-wrap.k-auto-scrollable th {
        width: 300px !important;
    }
    .portal-control.row.portal-control-grid.portal-control-subgrid .k-editable th.k-header, .portal-control.row.portal-control-grid.portal-control-subgrid .k-editable td {
        width: 300px !important;
        min-width: 300px !important;
    }
    #header .col-md-7 {
        width: 30%;
    }
    .col-md-1 {
        width: 20%;
    }
    #header .col-md-3 {
        width: 30% !important;
    }
    #crm-portal-user-isnt-auth .k-widget.k-dropdown.k-header {
        width: 120px !important;
    }
}
/****** iPad в portrait ******/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .portal-column-list.row .portal-column.col-md-2 {
        width: 100% !important;
    }
    #header .col-md-3 {
        width: 40% !important;
    }
    #crm-portal-user-isnt-auth .k-widget.k-dropdown.k-header {
        width: 130px !important;
    }
    .form-login-register-home .login-bg-form {
        padding: 125px 0 50px;
        width: 70%;
        height: 100%;
        position: absolute;
        left: 15%;
    }
    .login-form-style-2 .login-bg-form, .login-form-style-2 .login-bg-form {
        left: 30% !important;
        padding: 90px 0 0 !important;
        width: 70%;
    }
    .registration-form-style-3 .login-form-window {
        top: 15%;
        margin-bottom: 5%;
    }
    #portal-login-form #auth-err-msg {
        margin-bottom: 20px;
    }
}
/****** iPad в landscape ******/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #header .k-dropdown-wrap .k-select {
        line-height: 1em;
    }
    #header {
        height: auto;
    }
    .form-login-register-home .login-bg-form {
        margin-bottom: 5%;
        width: 50%;
        height: auto;
        position: absolute;
        left: 25%;
        background: rgba(204, 204, 204, 0.11);
        min-width: 300px;
        padding-top: 9% !important;
    }
    .login-form-style-3, .registration-form-style-3 {
        overflow: auto;
    }
    #portal-login-form #auth-err-msg {
        margin-bottom: 20px;
    }
    .login-form-style-2 .login-bg-form {
        width: 45%;
        min-height: 100%;
    }
    #portal-registration-form .login-bg-form {
        padding: 125px 0 50px;
    }
    .login-form-style-3 .login-form-window, .registration-form-style-3 .login-form-window {
        top: 20%;
    }
    .registration-form-style-3 .login-form-window {
        top: 20%;
        margin-bottom: 5%;
    }
    #portal-registration-form.login-form-style-2 .login-bg-form {
        height: auto;
    }
    .login-footer {
        position: relative;
        bottom: 0px;
        margin: 0px !important;
    }
}