html, body, #canvas {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h1 {
    position: fixed;
    z-index: 100;
    left: 10px;
    top: 10px;
    background: white;
    padding: 5px 10px;
    margin: 0;
}

body.fail {
    background: red;
}

body.success {
    background: lightgreen;
}

.row {
    margin: 0;
}

.search-div{
    padding-left: 0px;
}

.upper-row{
           margin-top: 38px !important;
    margin-bottom: 3px !important;
    height: auto !important;
    position: relative;
}

.pop-up-form-input, .output-popup-result-input {
    width: 100%;
}
div.k-grid-header {
    border-bottom-style: double;
    border-bottom-width: 3px;
}

.k-grid tr td {
    border-bottom: 1px solid black;
}

@keyframes header-hover {
    from {background-color: #f5f5f5;}
    to {background-color: greenyellow;}
}

.dropHower {
    background-color: greenyellow;
    animation-name: header-hover;
    animation-duration: 2s;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pop-up-row, .output-popup-result-block,
.outpot-popup-body, .output-popup-submit-row {
  padding-top: 10px;
}

#grid tbody tr td {
	vertical-align: top;
}

#grid .k-grid-header th.k-header {
	width: 400px;
}
.header-content{
    white-space: normal
}
.entity-dropdown-div span.k-header
{
        width: 98%;
    }

.table-key-div{
    padding-right: 0px;
}
    .table-key-div span.k-header{
        width: 100%;
    }
/*#splitter{
    height: 690px;
}*/

/*.k-grid-content{
    height: 549px;
}*/

.search-input{
        height: 21px;
}

/*.entity-dropdown-div,
.entities-label,
.table-key-div>.k-widget,
#custom-entities
{
    margin-top:10px;
}*/

.form-container{
    height: 700px;
}

.k-splitbar.k-state-default.k-splitbar-horizontal,
.k-widget.k-splitter{
    height: 650px !important;
}
.k-pane{
    height: 653px !important;
}

.treeview-wrap{
    padding-left: 0px;
    padding-right: 0px;
}
.entity-list-div{
    padding-left: 0px;
    display: none;
}
    .entity-list-div div{
        padding-left: 0px;
    }


.animation{

background: linear-gradient(270deg,#eae8e8, #eae8e8,#eae8e8,#eae8e8, #FFF973, #FFF400, #FFDF00,#FFDF00,#FFBF00,#FFBF00, #FFDF00, #FFDF00, #FFF400, #FFF973, #eae8e8,#eae8e8,#eae8e8, #eae8e8);
background-size: 1000% 600%;
animation: AnimationName 4s linear infinite;
}

@keyframes AnimationName { 
    0%{background-position:0% 25%}
    25%{background-position:25% 50%}
    50%{background-position:50% 75%}
    75%{background-position:75% 100%}
    100%{background-position:100%}
}

.k-widget.k-dropdown.k-header{
    width: 100%;
}

.k-grid tr th {
    border-color: #c9c9c9;
}
.k-header.k-grid-toolbar {
    border-color: #c9c9c9;
}
div#splitter {
    border: none;
    border-left: 1px solid #c9c9c9;
}

.k-grid tr td {
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
}
div#splitter .k-grid-header-wrap.k-auto-scrollable thead tr:first-of-type th.k-header {
 padding: 1em .6em 1em .6em;
}
.k-radio:checked+.k-radio-label:after{
    top: 2px;
    left: 2px;
}

.k-icon.k-i-calendar{
    margin: -8px -6px 0px;
}

a.k-button.k-button-icontext.k-grid-Delete {
	padding: 2px 5px;
    width: 64px;
    border: 1px solid rgba(116, 116, 116, 0.12);
    position: relative;
    margin: 0px auto;
    display: block;
}
a.k-button.k-button-icontext.k-grid-Delete .k-icon.k-i-close, a.k-button.k-button-icontext.k-grid-Delete .k-icon.k-i-close:hover, a.k-button.k-button-icontext.k-grid-Delete .k-icon.k-i-close:active {
	background: transparent url(/_imgs/imagestrips/ribbonhomepage.png?ver=-943361821) no-repeat scroll -415px -549px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.k-splitbar.k-state-default.k-splitbar-horizontal {
    width: 15px !important;
}
.k-splitbar-horizontal .k-expand-prev, .k-splitbar-horizontal .k-expand-prev:hover {
    background-position: -1px -194px;
}
.k-splitbar-horizontal .k-collapse-prev, .k-splitbar-horizontal .k-collapse-prev:hover {
	background-position: -2px -211px;
}
.k-splitbar-horizontal .k-icon {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
}
.k-splitbar-horizontal .k-resize-handle, .k-splitbar-horizontal .k-resize-handle:hover {
    background-position: -161px -6px;
    height: 20px !important;
}
.k-splitbar .k-resize-handle {
    background-color: transparent;
}


a.k-button.k-button-icontext.k-grid-Delete .k-icon.k-i-close:before {
 display: none;
}
span.k-dropdown-wrap .k-icon {
    background-image: none;
}
span.k-dropdown-wrap .k-icon:before {
 top: 10px;
}


#splitter .k-i-arrow-60-right:before,
#splitter .k-i-arrow-60-left:before {
    right: 2px;
    transform: scale(2);
}