.application-form-button{
    float: left;
    padding-right: 10px;
}

.application-form-button.hidden-effic{
    display: none;
}
/*
        .application-form-button.save-button > .k-button > span{
            text-transform: uppercase;
        }*/