.rc-steps-item.rc-steps-status-finish, .rc-steps-item.rc-steps-status-process, .rc-steps-item.rc-steps-status-wait {
    margin-right: 0px !important;
    text-overflow: ellipsis;
    height: 30px;
    white-space: nowrap;
    min-width: 5% !important;
}
.rc-steps-step {
    display: block;
    width: auto;
}
.rc-steps-head {
    display: none !important;
}
.rc-steps {
    width: 100%;
    line-height: 1.5;
    margin: 10px 0;
    display: inline-flex;
}
.rc-steps-head, .rc-steps-main {
    width: auto;
    display: block;
}
.rc-steps-title {
    margin-left: 6px !important;
    margin-right: 10px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    display: block;
    overflow: hidden;
    text-align: center;
}
.rc-steps .rc-steps-item {
    display: inline-block;
    padding: 5px 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-indent: 16px;
    margin: 5px 0 0 5px;
}
.rc-steps-item:last-child:after {
	border: none;
}
.rc-steps-item:last-child {
	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.rc-steps-item:first-child {
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.rc-steps-item:first-child:before {
	border:none;
}
.rc-steps-title {
    margin-left: -10px;
    margin-right: 10px;
}