body {
    min-height: 100vh;
}
.custom-row {
    padding-top: 10px;
}

#auth-err-msg {
    display: none;
}
.login-form-style-1, .registration-form-style-1 {
    margin: 0px auto !important;
    width: 400px;
    padding-top: 50px;
}
/********************* form-2 **********************/
.login-form-style-2, .form-login-register-home{
    background-image: url(/Content/Themes/Default/poe_poster.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    margin-top: -40px !important;
    overflow-x: hidden !important;
    margin-bottom: -20px !important;
}
.login-bg-form {
    padding-top: 200px;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0px;
    background: rgba(204, 204, 204, 0.11);
    min-width: 300px;
}
.form-login-register-home .login-bg-form {
    background: transparent !important;
}
#tabstrip {
    border: 10px solid rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}
.login-form-container .custom-row {
    padding: 10px 30px;
}
.login-form-style-2 .col-md-12, .button-form-row {
    padding: 0 30px 30px;
}
/*.login-form-container {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}*/
.header-box {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: block;
    margin-bottom: 30px;
}
.login-form-container h2 {
    padding: 15px 30px 10px;
    font-weight: bold;
    font-size: 22px;
    text-align: left !important;
}
.header-form-1 {
    width: 79%;
    display: inline-block;
}
.header-form-logo {
    width: 21%;
    float: right;
    display: inline-block;
    margin: 15px 0;
}
.header-form-logo span.k-font-icon.k-i-pencil {
    font-size: 60px;
}
.header-form-logo span.k-font-icon.k-i-lock {
    font-size: 70px;
}
.header-form-1 p {
    margin: 0 0 15px;
    text-align: left !important;
    padding: 0px 5px 15px 30px;
    font-size: 14px !important;
    margin: 0px !important;
}
.login-form-container .k-textbox {
    padding: 0 5px 0 30px;
}
.login-form-container input#crm-portal-login {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.login-form-container .crm-portal-form-password {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.custom-h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.login-form-style-3 .custom-h2, .registration-form-style-3 .custom-h2 {
    padding: 30px 10px 30px;
}
.login-form-style-1 input#crm-portal-login, .login-form-style-1 input#crm-portal-login:hover, .login-form-style-1 .crm-portal-form-password, .login-form-style-1 .crm-portal-form-password:hover, .login-form-style-1 input#crm-portal-login:focus, .login-form-style-1 .crm-portal-form-password:focus {
    padding: 0 5px 0 30px;
}
 .registration-form-style-1 input.k-textbox, .registration-form-style-1 input.k-textbox:hover, .registration-form-style-1 input.k-textbox:focus {
    padding: 0 5px 0 30px;
    border-radius: 0px;
}
.login-form-style-1 input#crm-portal-login {
    margin-top: -28px;
}
.login-form-style-1 .crm-portal-form-password {
    margin-top: -31px;
}
.registration-form-style-1 .form-imput-1 {
    margin-top: -28px;
}
.registration-form-style-1 .form-imput-2 {
    margin-top: -32px;
}
.registration-form-style-1 .form-imput-3 {
    margin-top: -36px;
}
.registration-form-style-1 .form-imput-4 {
    margin-top: -40px;
}
.registration-form-style-1 .form-imput-5 {
    margin-top: -44px;
}
.registration-form-style-1 .form-imput-6 {
    margin-top: -48px;
}
.login-form-style-1 .k-button {
    margin-top: 20px;
}
.registration-form-style-1 .k-button {
    margin-bottom: 20px;
}
.login-form-style-1 span.user-name-icon {
    /*background-image: url(Default/user.png);*/
    background-repeat: no-repeat;
    width: 28px;
    height: 16px;
    position: relative;
    top: 6px;
    z-index: 10;
    display: inline-block;
    left: 10px;
}
.login-form-style-1 span.user-password-icon {
    /*background-image: url(Default/black.png);*/
    background-repeat: no-repeat;
    width: 21px;
    height: 16px;
    position: relative;
    top: 4px;
    z-index: 10;
    display: inline-block;
    left: 10px;
}
.registration-form-style-1 span.user-name-icon-1, .registration-form-style-1 span.user-name-icon-2, .registration-form-style-1 span.user-name-icon-3 {
    /*background-image: url(Default/user.png);*/
    background-repeat: no-repeat;
    width: 28px;
    height: 16px;
    position: relative;
    z-index: 10;
    display: inline-block;
    left: 10px;
}
.registration-form-style-1 span.user-name-icon-1 {
    top: 7px;
}
.registration-form-style-1 span.user-name-icon-2 {
    top: 5px;
}
.registration-form-style-1 span.user-name-icon-3 {
    top: 1px;
}
.registration-form-style-1 span.user-password-icon-1, .registration-form-style-1 span.user-password-icon-2 {
    /*background-image: url(Default/black.png);*/
    background-repeat: no-repeat;
    width: 21px;
    height: 16px;
    position: relative;
    z-index: 10;
    display: inline-block;
    left: 10px;
}
.registration-form-style-1 span.user-password-icon-1 {
    top: -2px;
}
.registration-form-style-1 span.user-password-icon-2 {
    top: -4px;
}
span.user-email-icon {
    /*background-image: url(Default/black.png);*/
    background-repeat: no-repeat;
    width: 21px;
    height: 16px;
    position: relative;
    top: 3px;
    z-index: 10;
    display: inline-block;
    left: 10px;
}
.login-form-style-1 .alert {
    margin-bottom: 0px;
}
.form-icon{
    margin: 0px auto;
    display: flex;
}
.login-form-style-1 p, .registration-form-style-1 p {
    margin-top: 15px;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
}
.login-form-style-1 input, .registration-form-style-1 input {
    width: 100%;
}
.form-forgot-password {
    float: right;
    margin: 8px 15px 0 0;
}
.login-form-style-2 .k-button, .registration-form-style-3 .k-button, .login-form-style-3 .k-button, #form-login-tab .k-button, #form-register-tab .k-button {
    width: 100%;
    margin-top: 20px;
}
.login-form-style-2 .custom-h2 {
    margin-bottom: 50px;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
}
.login-footer {
    position: fixed;
    bottom: 10px;
    margin: 10px 0 !important;
}
.form-footer-copirate {
    display: inline-block;
    width: 100%;
}
.form-footer-copirate img {
    margin-right:5px;
    float: left;
}
.form-footer-copirate p {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
.form-row {
    padding: 10px 30px;
}
.login-form-style-3, .registration-form-style-3 {
    /*background-image: url(/Content/Themes/Default/login_cover.jpg);*/
    height: 100vh;
    background-position: center center;
    position: fixed;
    width: 100%;
    background-size: cover;
    background-color: #fff;
}
.registration-form-style-3 .login-form-window {
    top: 15%;
}
.login-form-style-3 .login-form-window {
    top: 30%;
}
.login-form-window {
    width: 400px;
    margin: 0px auto;
    background: #fff;
    padding: 45px;
    position: relative;
    border-radius: 10px;
}
.login-form-window-top span {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}
.login-form-window-top {
    position: absolute;
    top: -60px;
    left: 140px;
    padding: 21px 25px 13px 21px;
    border-radius: 50%;
    text-align: center;
    width: 120px;
}
.login-form-window-body input {
    margin-bottom: 10px;
}
.form-remember-me {
    padding-top: 8px;
}
.registration-form-style-3 .k-button, .login-form-style-3 .k-button {
    display: block;
    margin: 0px auto;
}
.login-form-window p {
    text-align: center;
    margin-top: 10px;
}
/********* flipswitch ***********/
.switch span {
    color: #bcbcbc;
    padding-left: 10px;
}
.switch label {
    float: left;
}
a.forgot_details {
    float: right;
    margin-top: 4px;
}
.switch {
    padding-top: 4px;
    display: inline-block;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 50px;
  height: 25px;
  background-color: #dddddd;
  border-radius: 25px;
  margin-top: -5px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 25px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 24px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #32c5d2;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 24px;
}
/******************* checkbox ******************/
[type="checkbox"].filled-in:not(:checked), [type="checkbox"].filled-in:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
[type="checkbox"].filled-in+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 22px;
    font-size: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
[type="checkbox"].filled-in+label:before, [type="checkbox"].filled-in+label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}

[type="checkbox"].filled-in+label:after {
    border-radius: 2px;
}
[type="checkbox"].filled-in:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}
/*
@media only screen and (max-width: 1850px) and (min-width: 1561px){
    .login-form-style-2 .login-bg {
        width: 70%;
    }
    .login-bg-form {
        width: 30%;
    }
}
@media only screen and (max-width: 1560px) and (min-width: 1351px){
    .login-form-style-2 .login-bg {
        width: 65%;
    }
    .login-bg-form {
        width: 35%;
    }
    .form-footer-copirate {
        display: none;
    }
}
@media only screen and (max-width: 1350px) and (min-width: 1151px){
    .login-form-style-2 .login-bg {
        width: 60%;
    }
    .login-bg-form {
        width: 40%;
    }
    .form-footer-copirate {
        display: none;
    }
}
@media only screen and (max-width: 1150px) and (min-width: 501px){
    .login-form-style-2 .login-bg {
        width: 0%;
    }
    .login-bg-form {
        width: 500px;
        position: absolute;
        top: 100px;
        left: 50%;
        margin: 0 -250px;
    }
    .form-footer-copirate {
        display: none;
    }
}
@media only screen and (max-width: 500px) and (min-width: 0px){
    .login-form-style-2 .login-bg {
        width: 0%;
    }
    .login-bg-form {
        width: 300px;
        position: absolute;
        top: 100px;
        left: 50%;
        margin: 0 -150px;
    }
    .form-footer-copirate {
        display: none;
    }
}
*/
