.k-notification {
    border: 0;
}
/* Info template */
.k-notification-info.k-group {
    background: rgba(0%,0%,0%,.7);
    color: #fff;
}
.new-mail {
    width: 300px;
    height: 100px;
}
.new-mail h3 {
    font-size: 1em;
    padding: 32px 10px 5px;
}
.new-mail img {
    float: left;
    margin: 30px 15px 30px 30px;
}
/* Error template */
.k-notification-error.k-group {
    background: rgba(100%,0%,0%,.7);
    color: #ffffff;
}
.wrong-pass {
    width: 300px;
    height: 100px;
}
.wrong-pass h3 {
    font-size: 1em;
    padding: 32px 10px 5px;
}
.wrong-pass img {
    float: left;
    margin: 30px 15px 30px 30px;
}
.wrong-pass p {
    padding: 0 10px;
}
/* Success template */
.k-notification-upload-success.k-group {
    background: rgba(0%,60%,0%,.7);
    color: #fff;
}
.upload-success {
    width: 240px;
    height: 100px;
    padding: 0 30px;
    line-height: 100px;
}
.upload-success h3 {
    font-size: 1.7em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.upload-success img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}