/*Side menu --------- */ 
#side-menu {
    /*height: 100%;*/
    height: calc(100% - 25px);
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0px;
    background-color: #f8f8f8;
    overflow-x: hidden;
    padding-top: 25px;
    transition: 0.5s;
    border: 1px solid #d6d6d6;
}
.side-menu-content {
    margin: 10px;
    background: #fff;
    overflow-y: auto;
    position: relative;
    display: block;
    height: calc(100% - 25px);
}
.open-side-menu-button img {
    display: none;
}
.open-side-menu-button {
    background-color: #01471f;
    border: none;
    color: white;
    padding-top: 35px;
    padding-left: 4px;
    padding-right: 6px;
    text-align: center;
    text-decoration: none;
    height: 10px;
    position: fixed;
    top: 440px;
    right: 0px;
    border-radius: 10px 0px 0px 10px;
    width: 30px;
}
.open-side-menu-button:hover, #side-menu .closebtn:hover:before, .clearbtn:hover {
    background-color: rgb(109, 148, 126);
}
.open-side-menu-button:before {
    content: "\00AB";
    font-size: 40px;
    top: -44px;
    position: relative;
    cursor: pointer;
}
.settings-panel {
    background-color: #01471f;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: .3s;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    width: 250px;
    float: right;
    color: #fff;
}
#side-menu .closebtn {
    width: 35px;
    height: 25px;
    float: right;
    color: #fff;
    cursor: pointer;
}
#side-menu .closebtn:before {
    content: "\00D7";
    color: #fff;
    font-size: 25px;
    top: 0px;
    position: relative;
    font-weight: 600;
    right: 5px;
    float: right;
    width: 25px;
    height: 25px;
    line-height: 21px;
    text-align: center;
}
#side-menu .clearbtn {
    height: 25px;
    line-height: 25px;
    width: 35px;
    float: right;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
/****************************************************************************/
.warining-message, .success-message, .information-message, .error-message {
    padding: 5px;
    margin-bottom: 2px;
}
.notification-header {
    margin: 0px;
    color: red;
    padding: 5px 5px 5px 30px;
}
.notification-message {
    padding: 5px;
    margin: 0px;
}
.warining-message:before, .success-message:before, .information-message:before, .error-message:before {
    font-size: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    line-height: 18px;
    text-align: center;
    margin: 4px 0 0 2px;
}
.warining-message {
    background-color: #fcf8e3;
    border: 1px solid #f2c508;
}
.warining-message::before {
    background-color: #f2c508;
    content: "\0021";
    font-weight: bold;
}
.warining-message .notification-header {
    color: #f2c508;
}
.success-message {
    background-color: #dff0d8;
    border: 1px solid #65aa55;
}
.success-message::before {
    background-color: #65aa55;
    content: "\2714";
}
.success-message .notification-header {
    color: #65aa55;
}
.information-message {
    background-color: #bbd9f7;
    border: 1px solid #4f96c5;
}
.information-message::before {
    background-color: #4f96c5;
    content: "i";
    font-style: italic;
    font-weight: bold;
}
.information-message .notification-header {
    color: #4f96c5;
}
.error-message {
    background-color: #f2dede;
    border: 1px solid #d47777;
}
.error-message::before {
    background-color: #d47777;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    content: "\2716";
}
.error-message .notification-header {
    color: #d47777;
}
/***************************************/
